<div class="popup popup--cart">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Вам потребуется установка изделия?</h2>

      <form class="popup__form">
        <div class="checkbox-box">
          <ul class="checkbox-box__list">
            <li class="checkbox-box__item">
              <label class="checkbox-box__checkbox checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Нет</span>
              </label>
              <span class="checkbox-box__text">0 ₽</span>
            </li>
            <li class="checkbox-box__item">
              <label class="checkbox-box__checkbox checkbox">
                <input class="checkbox__input" type="checkbox" checked />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Да</span>
              </label>
              <span class="checkbox-box__text">7 500 ₽</span>
            </li>
          </ul>

          <div class="total-row">
            <span class="total-row__text">Итого:</span>
            <span class="total-row__price">62 190 ₽</span>
          </div>
        </div>
        <div class="cart-btns">
          <button class="cart-total cart-total--upper" type="button">В корзину</button>
          <button class="cart-btns__btn cart-btns__btn--continue" type="button">
            ПРОДОЛЖИТЬ ПОКУПКИ
          </button>
        </div>

        <div class="cart-btn">
          <span class="cart-btn__text">
            при оформлении <br />
            и оплате онлайн
          </span>
          <span class="cart-btn__total">57 690 ₽</span>
        </div>

        <div class="cart-notify">
          <p>
            *при оформлении онлайн без обращения к менеджеру и за замером,
            скидки: 10% - на изделие; 12% - на доставку и установку; 15% - на
            дополнительные товары
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="popup popup--spec">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Технические характеристики</h2>
      <div class="popup__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--add-services">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Дополнительные услуги и материалы</h2>
      <ul class="popup__list" data-simplebar>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn">ДОБАВИТЬ К ЗАКАЗУ</button>
            </div>
          </div>
        </li>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn services-card__btn--added">
                добавлен
              </button>
            </div>
          </div>
        </li>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn">ДОБАВИТЬ К ЗАКАЗУ</button>
            </div>
          </div>
        </li>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn services-card__btn--added">
                добавлен
              </button>
            </div>
          </div>
        </li>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn">ДОБАВИТЬ К ЗАКАЗУ</button>
            </div>
          </div>
        </li>
        <li class="popup__item">
          <div class="services-card">
            <div class="services-card__left">
              <div class="services-card__img">
                <img src="images/content/product/1.png" alt="Услуга" />
              </div>
              <div class="services-card__info">
                <h3 class="services-card__title">
                  Название услуги или материала
                </h3>
                <div class="services-card__text">
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                  </p>
                </div>
              </div>
            </div>
            <div class="services-card__right">
              <div class="services-card__count">
                <span class="services-card__heading">Количество</span>
                <div class="counter">
                  <button class="counter__btn counter__btn--increase">+</button>
                  <input class="counter__number" type="text" value="1" />
                  <button class="counter__btn counter__btn--decrease">-</button>
                </div>
              </div>
              <div class="services-card__prices">
                <div class="services-card__price services-card__price--unit">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
                <div class="services-card__price">
                  <span class="services-card__heading">Цена за единицу</span>
                  <p>1500 ₽</p>
                </div>
              </div>
              <button class="services-card__btn services-card__btn--added">
                добавлен
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div class="popup__bottom">
        <div class="popup__bottom-inner">
          <button class="cart-btn" type="button">
            <span class="cart-btn__text">
              при оформлении <br />
              и оплате онлайн
            </span>
            <span class="cart-btn__total">1300 ₽</span>
          </button>
          <div class="popup__total">Итого: <span> 1500 ₽</span></div>
        </div>

        <button class="popup__btn" type="button">
          Продолжить оформление заказа
        </button>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--individual">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Индивидуальные решения</h2>
      <div class="popup__text">
        <p>
          С 2012 года реализовано боле 1500 тысяч индивидуальных проектов.
          Ознакомиться
          <span>
            с уже реализованными проектами и разработать собственный вы можете
            на сайте eurogar.ru</span
          >
        </p>
      </div>

      <div class="individual-card">
        <div class="individual-card__left">
          <img
            src="images/content/individual-card/1.jpg"
            alt="индивидуальные решения"
          />
        </div>
        <div class="individual-card__right">
          <h3 class="individual-card__title">Название проекта</h3>
          <div class="individual-card__text">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially.
            </p>
          </div>
          <div class="individual-card__content">
            <div class="individual-card__slider swiper">
              <ul class="individual-card__slides swiper-wrapper">
                <li
                  class="individual-card__slide individual-card__slide--active swiper-slide"
                >
                  <div class="individual-card__img">
                    <img
                      src="images/content/individual-card/1.jpg"
                      alt="индивидуальные решения"
                    />
                  </div>
                </li>
                <li class="individual-card__slide swiper-slide">
                  <div class="individual-card__img">
                    <img
                      src="images/content/individual-card/2.jpg"
                      alt="индивидуальные решения"
                    />
                  </div>
                </li>
                <li class="individual-card__slide swiper-slide">
                  <div class="individual-card__img">
                    <img
                      src="images/content/individual-card/1.jpg"
                      alt="индивидуальные решения"
                    />
                  </div>
                </li>
                <li class="individual-card__slide swiper-slide">
                  <div class="individual-card__img">
                    <img
                      src="images/content/individual-card/2.jpg"
                      alt="индивидуальные решения"
                    />
                  </div>
                </li>
              </ul>
            </div>

            <button
              class="swiper-button-next"
              type="button"
              aria-label="Следующий"
            ></button>
            <button
              class="swiper-button-prev"
              type="button"
              aria-label="Предыдущий"
            ></button>
          </div>
        </div>
      </div>

      <div class="popup__bottom">
        <a class="popup__btn btn" href="#">Ознакомиться</a>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--сertification">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Сертификация изделий и гарантия</h2>
      <div class="popup__text">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>

      <div class="certifications-box" data-simplebar>
        <ul class="certifications-box__list">
          <li class="certifications-box__item">
            <div
              class="certifications-card"
              data-fancybox
              data-src="images/content/certifications/1.jpg"
              data-caption="Название сертификата"
            >
              <div class="certifications-card__img">
                <img
                  src="images/content/certifications/1.jpg"
                  width="225"
                  height="300"
                />
              </div>

              <h3 class="certifications-card__title">Название сертификата</h3>
            </div>
          </li>
          <li class="certifications-box__item">
            <div
              class="certifications-card"
              data-fancybox
              data-src="images/content/certifications/1.jpg"
              data-caption="Название сертификата"
            >
              <div class="certifications-card__img">
                <img
                  src="images/content/certifications/1.jpg"
                  width="225"
                  height="300"
                />
              </div>

              <h3 class="certifications-card__title">Название сертификата</h3>
            </div>
          </li>
          <li class="certifications-box__item">
            <div
              class="certifications-card"
              data-fancybox
              data-src="images/content/certifications/1.jpg"
              data-caption="Название сертификата"
            >
              <div class="certifications-card__img">
                <img
                  src="images/content/certifications/1.jpg"
                  width="225"
                  height="300"
                />
              </div>

              <h3 class="certifications-card__title">Название сертификата</h3>
            </div>
          </li>
          <li class="certifications-box__item">
            <div
              class="certifications-card"
              data-fancybox
              data-src="images/content/certifications/1.jpg"
              data-caption="Название сертификата"
            >
              <div class="certifications-card__img">
                <img
                  src="images/content/certifications/1.jpg"
                  width="225"
                  height="300"
                />
              </div>

              <h3 class="certifications-card__title">Название сертификата</h3>
            </div>
          </li>
          <li class="certifications-box__item">
            <div
              class="certifications-card"
              data-fancybox
              data-src="images/content/certifications/1.jpg"
              data-caption="Название сертификата"
            >
              <div class="certifications-card__img">
                <img
                  src="images/content/certifications/1.jpg"
                  width="225"
                  height="300"
                />
              </div>

              <h3 class="certifications-card__title">Название сертификата</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--request">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <h2 class="popup__title">Оставить заявку</h2>
      <form class="popup__form form-submit">
        <div class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="ФИО" />
        </div>
        <div class="form-submit__group">
          <input class="form-submit__input" type="text" placeholder="Адрес" />
        </div>
        <div class="form-submit__group form-submit__group--textarea">
          <textarea
            class="form-submit__input"
            placeholder="Описание"
          ></textarea>
        </div>

        <div class="form-submit__group">
          <label class="custom-file-upload" for="file-upload">
            Прикрепить файл
          </label>
          <input id="file-upload" type="file" />
        </div>

        <button class="form-submit__btn btn" type="submit">
          ОСТАВИТЬ ЗАЯВКУ
        </button>

        <div class="form-submit__notify">
          Нажимая кнопку, я даю <a>согласие</a> на обработку персональных
          данных, в соответсвии с <a href="#">Политикой</a> и соглашаюсь с
          <a href="#">Правислами</a>
        </div>
      </form>
    </div>
  </div>
</div>
