body {
  font-family: $EuclidCircularA;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-white);
  position: relative;
  overflow-x: hidden;

  @include breakpointsMaxW($bp-768) {
    font-size: 16px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  &.mt100 {
    margin-top: 95px;

    @include breakpointsMaxW($bp-576) {
      margin-top: 70px;
    }
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--1820 {
    max-width: 1850px;
  }

  &--1280 {
    max-width: 1310px;
  }
}

.logo {
  width: 210px;
  height: 50px;
  object-fit: contain;

  @include breakpointsMaxW($bp-768) {
    width: 130px;
    height: 30px;
  }
}

.container-fluid {
  max-width: 1920px;
  padding: 0px 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
svg {
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

// * Кнопки
.btn {
  font-family: $EuclidCircularA;
  display: inline-block;
  line-height: 1;
  color: var(--color-white);
  transition: 150ms ease;
  padding: 13px 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
  background-color: var(--color-gray);
  border: 2px solid transparent;
  border-radius: 2px;
  &:hover {
    background-color: var(--color-accent);
  }

  &:active {
    transform: scale(0.98);
  }

  &--white {
    font-family: $EuclidFlex;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3e3e3e;
    background-color: var(--color-white);
    border-radius: 5px;
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white);
    }
  }

  &--dark {
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.tagline {
  padding: 65px 0;
  font-family: $EuclidCircularA;
  position: relative;
  @include breakpointsMaxW($bp-768) {
    padding: 45px 0;
  }

  &::after,
  &::before {
    @include elDef();
    width: 355px;
    height: 2px;
    background-color: var(--color-text);
    left: 50%;
    transform: translateX(-50%);
    @include adaptive-value('width', 355, 200, 1);
  }

  &::after {
    top: 30px;
    @include breakpointsMaxW($bp-768) {
      top: 20px;
    }
  }

  &::before {
    bottom: 30px;
    @include breakpointsMaxW($bp-768) {
      bottom: 20px;
    }
  }

  &__text {
    max-width: 720px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.4;
    color: #3c3c3b;
    @include adaptive-value('font-size', 20, 16, 1);

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.cart-right {
  background-color: #f9f9f9;
  border-radius: 0px 5px 5px 0px;
  padding: 30px;
  @include breakpointsMaxW($bp-991) {
    max-width: 350px;
    margin: 0 auto;
  }
  &__list {
    @include adaptive-value('margin-bottom', 30, 20, 1);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 13px;
    line-height: 1;
    font-weight: 300;
    line-height: 2.5;
  }

  &__left {
    color: #999999;
  }
  &__right {
    color: #4b4b4b;
  }

  &__total {
    &-text {
      font-size: 21px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    line-height: 1;
    font-weight: 500;
    color: #333232;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    text-transform: uppercase;
    background-image: linear-gradient(
      0deg,
      #896a4b -24%,
      #9d8269 20%,
      #c7aa8e 66%,
      #a1876f 96%,
      #a1876f 126%
    );
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 21px;
    width: 100%;
    display: block;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color: var(--color-white);
    margin-bottom: 15px;

    &:hover {
      background-image: linear-gradient(
        0deg,
        #896a4b -24%,
        #9d8269 20% #a1876f 126%
      );
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__notify {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    max-width: 270px;
    margin: 0 auto;
  }

  &--discount {
    .cart-right__list {
      padding-bottom: 15px;
      border-bottom: 1px solid #d8d8d8;
    }
    .cart-right__discount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 30px;

      &-text {
        color: #9c8168;
        max-width: 150px;
      }

      &-price {
        flex-shrink: 0;
        color: #4b4b4b;
      }
    }
  }
}

.catalog-section {
  @include background(cover);
  color: var(--color-white);
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;

  &--footer {
    height: auto !important;
    width: 100%;
  }

  &__wrapper {
    height: 100%;

    width: 100%;
    padding: 160px 0;
    @include adaptive-value('padding-top', 160, 130, 1);
    @include adaptive-value('padding-bottom', 160, 100, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    opacity: 0;
    transition: opacity 2.5s ease;

    &--wrapper {
      padding-top: 240px;
    }
  }

  &.active {
    .catalog-section__wrapper {
      opacity: 1;
    }
  }

  &__offer {
    max-height: 310px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include fz34();
    text-transform: none;
    @include adaptive-value('margin-bottom', 30, 20, 1);
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 15px;
    margin-top: auto;

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 240px;
    }
  }

  &__btn {
    border-radius: 27px;
    position: relative;
    padding-top: 18px;
    padding-bottom: 18px;

    &--cart {
      font-size: 17px;
      font-weight: 500;
      color: #2f2f2f;
      padding-left: 60px;

      &:hover {
        &::after {
          background-color: var(--color-white);
        }
      }

      &::after {
        @include elDef();
        width: 25px;
        height: 25px;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
        @include maskImage(url('../images/icons/cart.svg'), contain);
        background-color: #292929;
      }
    }
  }

  &__down-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    width: 17px;
    height: 17px;
    @include maskImage(url('../images/icons/chevron.svg'), contain);
    background-color: var(--color-white);
  }
}

.menu {
  padding-top: 20px;

  @include breakpointsMaxW($bp-991) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__link {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #d1d1d0;

    &:hover,
    &--active {
      font-weight: 700;
      color: #ffffff;
    }
  }
}

.simplebar-scrollbar::before {
  background-color: transparent;
}

.delivery-text {
  padding: 20px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    background-color: #f3f3f3;
    gap: 50px;

    @include breakpointsMaxW($bp-768) {
      gap: 0;
      flex-direction: column;
      height: auto;
    }
  }

  &__left {
    background-color: #494949;
    width: 190px;
    height: 100%;
    flex-shrink: 0;
    position: relative;

    @include breakpointsMaxW($bp-768) {
      width: 100%;
      height: 150px;
    }

    &::after {
      @include elDef();
      width: 90px;
      height: 115px;
      @include backgroundImage(url('../images/content/price-tag.png'), contain);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__right {
    font-size: 19px;
    line-height: 1.6;
    font-weight: 300;
    color: #282828;
    padding-right: 50px;
    @include adaptive-value('font-size', 19, 15, 1);
    @include breakpointsMaxW($bp-768) {
      padding: 20px;
    }
  }
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 1.5;
  width: 100%;

  background-image: linear-gradient(
    0deg,
    #896a4b -24%,
    #9d8269 35%,
    #c7aa8e 66%,
    #a1876f 96%,
    #a1876f 126%
  );
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  color: var(--color-white);

  &__total {
    font-weight: 300;

    span {
      font-size: 22px;
      font-weight: 500;
      @include adaptive-value('font-size', 22, 18, 1);
    }
  }

  &--small {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    padding: 9px 30px;
    margin-bottom: 0;
  }
}

.cart-btn {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;

  @include breakpointsMaxW($bp-576) {
    padding: 12px 20px;
  }

  background-color: var(--color-white);
  border: 2px solid #9b8066;
  border-radius: 29px;

  &__text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 300;
    width: 60%;
    position: relative;
    text-align: left;
    color: #282828;
    &::after {
      @include elDef();
      background-color: #d5d5d5;
      right: 10px;
      height: calc(100% - 3px);
      width: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__total {
    width: 40%;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    text-align: right;
  }

  &:active {
    transform: scale(0.98);
  }
}

.cart-notify {
  font-size: 11px;
  line-height: 17px;
  font-weight: 300;
  color: #757575;
  text-align: center;
}

.cart-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 14px;

  &__btn {
    width: 100%;
    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color: #4b4947;
    border: 1px solid rgba(143, 113, 84, 0.53);
    border-radius: 23px;
    padding: 10px;
    text-transform: uppercase;
    height: 45px;

    &--continue {
      display: block;
      font-size: 11px;
      line-height: 1.5;
      font-weight: 500;
      color: #6f6f6f;
      height: 100%;
      background-image: linear-gradient(
        0deg,
        #e0e0e0 -24%,
        #d1d1d1 35%,
        #ececec 66%,
        #c8c8c8 95%,
        #c8c8c8 126%
      );
      border-radius: 24px;
      border-color: transparent;
    }
  }
}

.checkbox-box {
  &__list {
    display: grid;
    gap: 14px;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 15px;
    font-weight: 300;
    color: #313131;
    flex-shrink: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 30px;
  }
  &__text {
    line-height: 1;
    font-weight: 300;
    color: #313131;
    flex-shrink: 0;
  }
  &--sub {
    padding-left: 20px;

    .checkbox-box__item {
      .checkbox__text {
        color: #757575;
        font-weight: 300;
      }
    }
  }
}

.services-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  @include breakpointsMaxW($bp-container) {
    gap: 10px;
  }

  @include breakpointsMaxW($bp-991) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__img {
    width: 95px;
    height: 95px;
    border: 1px solid rgba(204, 204, 204, 0.53);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 20px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    flex-grow: 1;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    @include breakpointsMaxW($bp-991) {
      width: 100%;
    }

    @include breakpointsMaxW($bp-768) {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &__info {
    max-width: 330px;
  }

  &__title {
    font-size: 17px;
    font-weight: 500;
    color: #282828;
    margin-bottom: 10px;

    @include breakpointsMaxW($bp-768) {
      font-size: 15px;
    }
  }

  &__text {
    p {
      font-size: 12px;
      font-weight: 300;
      color: #7f7f7f;
    }
  }

  &__heading {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #464646;
    margin-bottom: 10px;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 250px;
    width: 100%;
    justify-content: space-between;

    @include breakpointsMaxW($bp-576) {
      // max-width: auto;
      // width: auto;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
    @include breakpointsMaxW($bp-768) {
      font-size: 17px;
    }
  }

  &__btn {
    width: 175px;
    font-size: 12px;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;
    flex-shrink: 0;
    background-image: linear-gradient(
      0deg,
      #896a4b -23%,
      #9d8269 37%,
      #c7aa8e 65%,
      #a1876f 95%,
      #a1876f 125%
    );
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    padding: 15px 20px;
    @include breakpointsMaxW($bp-container) {
      //   width: 160px;
      // padding: 15px;
    }

    &--added {
      background-image: linear-gradient(0deg, #59bb52 -23%, #b3d557 125%);
      border-radius: 22px;
    }
  }
}

.counter {
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  height: 40px;
  padding: 3px;

  &__btn {
    color: #7f7f7f;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

    height: 100%;
  }

  &__number {
    border-radius: 5px;
    font-size: 19px;
    width: 45px;
    text-align: center;
    background-color: var(--color-white);
  }
}

.tabs-content {
  display: none;

  &.active {
    display: block;
    animation: opacity-visibility 700ms ease forwards;
  }
}

.form-submit {
  display: grid;
  gap: 20px;
  &__group {
    width: 100%;

    &--textarea {
      height: 100px;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--color-white);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    transition: 150ms ease;

    &:hover {
      color: var(--color-dark);
      background-color: #f4f4fb;
    }

    &::placeholder {
      color: #b0b0b0;
    }
  }

  &__btn {
    text-transform: uppercase;
    height: 52px;
    font-size: 14px;
    font-weight: 500;
  }

  &__notify {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 300;
    color: #8c8c8c;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;

    a {
      font-weight: 500;
      color: #343434;
    }
  }
}

input[type='file'] {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.custom-file-upload {
  width: 100%;

  height: 100%;
  display: inline-block;
  padding: 15px;
  cursor: pointer;

  background-color: var(--color-white);
  border: 2px dashed #cfcfde;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #a1a1aa;

  transition: 150ms ease;

  &:hover {
    color: var(--color-dark);
    background-color: #f4f4fb;
  }
}

.individual-card {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 35px;
  align-items: center;

  @include breakpointsMaxW($bp-768) {
    grid-template-columns: 1fr;
  }

  &__title {
    font-size: 21px;
    line-height: 1.1;
    font-weight: 500;
    color: #2f2f2f;
    margin-bottom: 15px;
    @include breakpointsMaxW($bp-768) {
      text-align: center;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1.6;
    font-weight: 300;
    color: #6b6b6b;
    margin-bottom: 30px;
  }

  &__left {
    max-width: 450px;
    width: 100%;
    height: 335px;

    @include breakpointsMaxW($bp-768) {
      max-width: 100%;
      height: calc(250px + (335 - 250) * ((100vw - 375px) / (768 - 375)));
    }

    @include breakpointsMaxW($bp-768) {
      order: 1;
    }

    img {
      @include img(cover);
    }
  }

  &__content {
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      width: 20px;
      height: 20px;
      background-color: transparent;
      top: 70%;
      transform: translateY(-50%);

      &::after {
        width: 100%;
        height: 100%;
      }
    }

    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev {
      left: 0;
    }
  }

  &__slider {
    width: calc(100% - 60px);
    margin: 0 auto;
  }

  &__slide {
    box-sizing: border-box;
    max-width: 140px;
    height: 110px;
    cursor: pointer;

    @include breakpointsMaxW($bp-768) {
      height: calc(80px + (110 - 80) * ((100vw - 375px) / (768 - 375)));
      max-width: calc(110px + (140 - 110) * ((100vw - 375px) / (768 - 375)));
    }

    &--active {
      border: 5px solid #6b6b6b;
    }
  }

  &__img {
    max-width: 100%;
    height: 100%;

    img {
      @include img(cover);
    }
  }
}

.certifications-box {
  overflow-x: auto;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-width: 1150px;
  }
}

.certifications-card {
  text-align: center;
  max-width: 225px;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &__img {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.1;
    font-weight: 300;
    color: #2f2f2f;
  }
}
