// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #3c3c3b;
  --color-text: #959595;
  --color-bg: #f5f5f5;
  --color-accent: #9b8066;
  --color-gray: #6b6b6b;
}

// * breakpointsMaxW
$bp-container: 1150px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 360.98px;

// *=== Fonts
$EuclidFlex: 'Euclid Flex';
$EuclidCircularA: 'Euclid Circular A';
