.breadcrumbs {
  margin-top: 105px;
  z-index: 1;
  
  @include breakpointsMaxW($bp-768) {
    margin-top: 70px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
      padding-right: 14px;
      transition: 150ms;

      &::after {
        @include elDef();
        width: 8px;
        height: 7px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        right: 0;
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: #929292;
      }
    }
  }

  &__link {
    display: block;
    font-size: 11px;
    position: relative;
    transition: 150ms;
    color: #929292;

    &--active,
    &:hover {
      color: var(--color-dark);
    }
  }
}
