.calculation {
  color: var(--color-white);
  @include background(cover);

  &__wrapper {
    @include adaptive-value('padding-top', 100, 50, 1);
    @include adaptive-value('padding-bottom', 100, 50, 1);
  }

  &__offer {
    text-align: center;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value('gap', 40, 30, 1);
  }

  &__title {
    @include fz34();
  }
}
