.catalog {
  @include adaptive-value('padding-top', 70, 40, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 30px;

    @include adaptive-value('column-gap', 30, 10, 1);
    @include adaptive-value('column-row', 30, 20, 1);

  }

  &__item {
    width: 100%;
    height: 100%;
  }
}
