.certification {
  color: var(--color-white);
  background-attachment: fixed;
  @include background(cover);

  &__wrapper {
    @include adaptive-value('padding-top', 100, 50, 1);
    @include adaptive-value('padding-bottom', 100, 50, 1);
  }

  &__offer {
    text-align: center;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value('gap', 30, 20, 1);
  }

  &__text {
    max-width: 580px;

    @include adaptive-value('font-size', 19, 14, 1);
  }

  &__title {
    @include fz34();
  }

  &__btn {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include adaptive-value('font-size', 13, 10, 1);
    @include adaptive-value('width', 220, 150, 1);
    @include adaptive-value('height', 54, 40, 1);
    @include adaptive-value('padding', 20, 5, 1);
  }
}
