.footer {
  background-color: #424241;
  font-size: 13px;
  font-weight: 300;
  color: #c1c1c1;
  font-family: $EuclidFlex;

  &__top {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;

    padding: 60px 0;
    padding-bottom: 40px;
    border-bottom: 2px solid #c1c1c1;
    color: var(--color-white);
    gap: 30px;

    @include breakpointsMaxW($bp-991) {
      gap: 50px;
      grid-template-columns: repeat(3, auto);
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__name {
    line-height: 1.5;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    font-family: $EuclidFlex;
  }

  &__bottom {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    a {
      color: #c1c1c1;

      &:hover {
        color: var(--color-white);
      }
    }

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 60px;

    @include breakpointsMaxW($bp-768) {
      max-width: 200px;
      gap: 20px;
    }
  }

  &__list {
    display: grid;
    gap: 9px;
  }

  &__link {
    color: var(--color-white);
    position: relative;
    display: block;
    transition: 250ms ease;
    font-family: $EuclidCircularA;
    font-size: 13px;
  }

  &__col {
    &--socials {
      .footer__name {
        width: 100%;
        text-align: right;
        margin-bottom: 20px;

        @include breakpointsMaxW($bp-991) {
          text-align: left;
        }
      }
    }

    &--contact {
      min-width: 175px;

      .footer__name {
        margin-bottom: 25px;

        @include breakpointsMaxW($bp-991) {
          text-align: left;
        }
      }

      .footer__list {
        text-align: right;

        @include breakpointsMaxW($bp-991) {
          text-align: left;
        }
      }
    }

    &--company {
      min-width: 125px;
    }
  }

  &__copy {
    display: flex;
    align-items: center;
    gap: 10px;

    @include breakpointsMaxW($bp-768) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &--catalog {
    .footer {
      &__top {
        align-items: start;
        padding: 50px 0;
      }

      &__name {
        margin-bottom: 10px;
      }

      &__link {
        line-height: 1.2;
      }

      &__cols {
        display: grid;

        gap: 20px;
      }

      &__col {
        &--contact {
          text-align: right;

          @include breakpointsMaxW($bp-container) {
            text-align: left;

            .footer__link {
              text-align: left;
            }
          }
        }

        @include breakpointsMaxW($bp-container) {
          &--socials {
            .footer__name {
              text-align: left;
            }
          }
        }
      }

      &__top {
        grid-template-columns: repeat(6, auto);

        @include breakpointsMaxW($bp-container) {
          grid-template-columns: repeat(5, auto);
        }

        @include breakpointsMaxW($bp-991) {
          grid-template-columns: repeat(3, auto);
        }

        @include breakpointsMaxW($bp-768) {
          grid-template-columns: repeat(2, auto);
        }

        @include breakpointsMaxW($bp-576) {
          grid-template-columns: 1fr;
          width: 100%;
        }
      }
      &__lists {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 30px;
        align-items: flex-start;

        @include breakpointsMaxW($bp-768) {
          max-width: 100%;
        }
        
        &--double {
          align-items: flex-start;
          grid-template-columns: repeat(2, auto);
          text-align: left;
        }
      }
    }
  }
}
