.header {
  color: var(--color-white);
  z-index: 11;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;

  &__logo {
    margin-left: 50px;

    @include breakpointsMaxW($bp-991) {
      margin-left: 0;
      margin-right: 10px;
    }

    &--ml {
      width: 320px;
      height: 50px;
      display: flex !important ;
      align-items: center;
      justify-content: flex-end;
      margin-left: 0;

      @include breakpointsMaxW($bp-768) {
        margin-right: 50px;
      }
    }
  }

  &__location,
  &__location-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    position: relative;
    max-width: 245px;
    margin: 20px auto 0 auto;

    @include breakpointsMaxW($bp-991) {
      font-size: 16px;
      max-width: 200px;
    }

    @include breakpointsMaxW($bp-768) {
      font-size: 14px;
      max-width: 155px;
    }

    &-btn {
      color: var(--color-white);
      border-bottom: 1px dashed var(--color-white);
    }
  }

  &__location-mobile {
    color: var(--color-dark);
    display: none;

    .header__location-btn {
      color: var(--color-dark);
      border-bottom: 1px dashed var(--color-dark);
    }
  }

  .header__logo-small,
  .big-btn,
  .discount-badge {
    display: none;
  }

  &.scroll-header {
    background-color: var(--color-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .header__location {
      display: none;
    }

    .header {
      &__logo-other,
      &__phone,
      &__logo {
        display: none;
        color: var(--color-dark);
      }

      &__left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        @include breakpointsMaxW(1100px) {
          gap: 10px;
        }
      }

      // ! Hover для всего
      &__phone {
        color: var(--color-dark);
        &::after {
          background-color: var(--color-dark);
        }

        &:hover {
          color: var(--color-white);
        }
      }

      &__cart {
        margin-left: 10px;

        &::after {
          background-color: var(--color-dark);
        }

        .header__cart-right,
        .header__cart-left {
          &::after,
          &::before {
            background-color: var(--color-dark);
          }
        }
      }

      //  ! > Hover для всего

      &__toggle {
        padding-right: 5px;
        width: 40px;

        &-line {
          background-color: var(--color-dark);
        }

        @include breakpointsMaxW($bp-container) {
          width: 30px;
        }

        @include breakpointsMaxW($bp-991) {
          width: 40px;
        }

        &::after {
          display: none;
        }
      }

      &__logo-dark {
        @include breakpointsMaxW($bp-991) {
          display: block;
        }
      }
    }

    .big-btn,
    .discount-badge {
      display: flex;
      margin: 0 auto;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .discount-badge {
      margin: 0 auto;
    }

    .header__logo-small {
      display: block;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .header__wrapper {
      border-bottom: none;
    }

    &.header--color-dark {
      background-color: var(--color-white);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 10;

      .header__wrapper {
        background-color: var(--color-white);
      }

      .header__logo-dark {
        width: 150px;
      }

      .header__location-mobile {
        @include breakpointsMaxW($bp-991) {
          display: none !important;
        }
      }
    }

    &.header--catalog {
      background-color: transparent;
      color: var(--color-white);

      .header {
        &__logo-other {
          display: block;
        }
        &__wrapper {
          border-bottom: 1px solid #a6a5a4;
        }

        &__logo {
          display: block;
        }

        &__cart {
          background-color: var(--color-white);
        }

        &__phone {
          color: var(--color-white);
          display: block;

          @include breakpointsMaxW($bp-container) {
            font-size: 16px !important;
          }
        }

        &__toggle {
          width: 100px;
          padding-right: 60px;

          &::after {
            display: block;
          }

          &-line {
            background-color: var(--color-white);
          }
        }
      }
    }
  }

  &__logo-dark {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 17px 0;
    border-bottom: 1px solid #a6a5a4;

    @include breakpointsMaxW($bp-768) {
      padding: 10px 0;
    }
  }

  &__logo-other {
    &--ml {
      margin-left: 50px;
    }
    @include breakpointsMaxW($bp-container) {
      width: 160px;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__phone {
    line-height: 1;
    transition: 200ms ease;
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    border-radius: 3px;
    transition: 300ms ease;

    &:hover {
      opacity: 0.7;
    }

    &::after {
      @include elDef();
      left: 0;
      top: 50%;
      height: calc(100% + 20px);
      width: calc(100% + 20px);
      transition: 350ms ease;
      background-color: var(--color-white);
      z-index: -1;
      transform: translateY(-50%) translateX(-101%);
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__cart {
    width: 45px;
    height: 45px;
    transition: 300ms ease;
    position: relative;
    overflow: hidden;

    &::after {
      @include elDef();
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include maskImage(url('../images/cart.png'), contain);
      background-color: var(--color-dark);
    }

    &::before {
      @include elDef();
      width: 35px;
      height: 35px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: hsla(0, 0%, 87%, 0.3);
      transition: 300ms ease;
    }

    &-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::after {
        @include elDef();
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        top: 0;
        left: 0;
        transform: scaleX(0);
        transition: 300ms ease;
      }

      &::before {
        @include elDef();
        width: 1px;
        height: 100%;
        background-color: var(--color-white);
        left: 0;
        bottom: 0;
        transform: scaleY(0);
        transition: 300ms ease;
      }
    }

    &-right {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::after {
        @include elDef();
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        bottom: 0;
        right: 0;
        transform: scaleX(0);
        transition: 300ms ease;
      }

      &::before {
        @include elDef();
        width: 1px;
        height: 100%;
        background-color: var(--color-white);
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transition: 300ms ease;
      }
    }

    &--dark {
      .header__cart-left {
        &::after {
          background-color: var(--color-dark);
        }

        &::before {
          background-color: var(--color-dark);
        }
      }

      .header__cart-right {
        &::after {
          background-color: var(--color-dark);
        }

        &::before {
          background-color: var(--color-dark);
        }
      }
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(1);
      }

      .header__cart-left {
        &::after {
          transform: scaleX(1);
        }

        &::before {
          transform: scaleY(1);
        }
      }

      .header__cart-right {
        &::after {
          transform: scaleX(1);
        }

        &::before {
          transform: scaleY(1);
        }
      }
    }

    &--white {
      &::after {
        background-color: var(--color-white);
      }
    }
  }

  &__toggle {
    flex-shrink: 0;
    width: 110px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in;
    position: relative;
    padding: 10px 5px;
    padding-right: 70px;
    border-radius: 3px;

    @include breakpointsMaxW($bp-991) {
      width: 30px;
      padding: 0;
      margin-right: 15px;
    }

    &::after {
      position: absolute;
      content: 'Меню';
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      color: var(--color-white);

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    &-line {
      border-radius: 3px;
      width: 30px;
      height: 3px;
      background-color: var(--color-white);
      position: relative;
      transition: 200ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: inherit;
        transition: 200ms ease-in;
        border-radius: 3px;
      }

      &::after {
        top: -7px;
      }

      &::before {
        bottom: -7px;
      }
    }
  }

  &--color-dark,
  &--product {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: var(--color-dark);

    @include breakpointsMaxW($bp-991) {
      background-color: var(--color-white);
    }

    .header {
      &__wrapper {
        z-index: 5;
      }

      &__phone {
        color: var(--color-dark);
      }

      &__toggle {
        &::after {
          color: var(--color-dark);
        }

        &-line {
          background-color: var(--color-dark);
        }
      }
    }

    .menu {
      &__link {
        color: #b1b1b1;

        &:hover,
        &--active {
          color: #3c3c3b;
        }
      }
    }

    .header {
      &__toggle {
        &-line {
          background-color: var(--color-dark);
        }
        &::after {
          color: var(--color-dark);
        }
      }
    }
  }

  &--catalog {
    .header__cart {
      &::after {
        background-color: var(--color-white);
      }
    }
  }
}

.header.scroll-header.header--catalog {
  .header__cart {
    background-color: transparent !important;

    &::after {
      background-color: var(--color-white);
    }

    .header__cart-left {
      &::after,
      &::before {
        background-color: var(--color-white);
      }
    }

    .header__cart-right {
      &::after,
      &::before {
        background-color: var(--color-white);
      }
    }
  }
  .header__logo-other {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__toggle {
    padding-right: 0 ;
    width: 40px ;

    &::after {
      display: none;
    }
  }
}
