.header {
  color: var(--color-white);
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;

  &__location {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    position: relative;
    max-width: 215px;
    margin: 20px auto 0 auto;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &-btn {
      color: var(--color-white);
      border-bottom: 1px dashed var(--color-white);
    }
  }

  .header__logo-small,
  .big-btn,
  .discount-badge {
    display: none;
  }

  &.scroll-header {
    background-color: var(--color-white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .header__location {
      display: none;
    }
    .header {
      &__logo-other,
      &__logo,
      &__phone {
        display: none;
      }

      &__toggle {
        padding-right: 5px;
        width: 40px;

        &-line {
          background-color: var(--color-dark);
        }

        @include breakpointsMaxW($bp-container) {
          width: 30px;
        }

        @include breakpointsMaxW($bp-991) {
          width: 40px;
        }
        &::after {
          display: none;
        }
      }

      &__cart {
        fill: var(--color-dark);
      }

      &__logo-dark {
        @include breakpointsMaxW($bp-991) {
          display: block;
        }
      }
    }

    .big-btn,
    .discount-badge {
      display: flex;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .header__logo-small {
      display: block;

      @include breakpointsMaxW($bp-991) {
        display: none;
      }
    }

    .header__wrapper {
      border-bottom: none;
    }

    &.header--color-dark {
      background-color: var(--color-white);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.header--catalog {
      background-color: transparent;
      color: var(--color-white);

      .header {
        &__wrapper {
          border-bottom: 1px solid #a6a5a4;
        }
        &__logo {
          display: block;
        }

        &__cart {
          fill: var(--color-white);

          &:hover {
            fill: var(--color-dark);
            background-color: var(--color-white);
          }
        }

        &__phone {
          display: block;
        }

        &__toggle {
          width: 100px;
          padding: 10px 5px;
          padding-right: 60px;

          &::after {
            display: block;
          }

          &-line {
            background-color: var(--color-white);
          }

          &:hover {
            background-color: var(--color-white);

            .header__toggle-line {
              background-color: var(--color-dark);
            }
          }
        }
      }
    }
  }

  &__logo-dark {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1px solid #a6a5a4;
    @include breakpointsMaxW($bp-768) {
      padding: 10px 0;
    }
  }

  &__logo-other {
    @include breakpointsMaxW($bp-container) {
      width: 160px;
    }
    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 35px;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__phone {
    line-height: 1;
    transition: 200ms ease;
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    padding: 5px;
    border-radius: 3px;

    &::after {
      @include elDef();
      left: 0;
      top: 50%;
      height: calc(100% + 20px);
      width: calc(100% + 20px);
      transition: 350ms ease;
      background-color: var(--color-white);
      z-index: -1;

      transform: translateY(-50%) translateX(-101%);
    }

    &:hover {
      color: var(--color-dark);

      &::after {
        transform: translateY(-50%) translateX(-10px);
      }
    }
  }

  &__cart {
    width: 35px;
    height: 35px;
    fill: var(--color-white);
    transition: 200ms ease;
    padding: 5px;
    border-radius: 3px;

    &:hover {
      fill: var(--color-dark);
      background-color: var(--color-white);
    }
  }

  &__toggle {
    flex-shrink: 0;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in;
    position: relative;
    padding: 10px 5px;
    padding-right: 60px;
    border-radius: 3px;

    &::after {
      position: absolute;
      content: 'Меню';
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      color: var(--color-white);
    }

    &-line {
      border-radius: 3px;
      width: 30px;
      height: 3px;
      background-color: var(--color-white);
      position: relative;
      transition: 200ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: inherit;
        transition: 200ms ease-in;
        border-radius: 3px;
      }

      &::after {
        top: -7px;
      }

      &::before {
        bottom: -7px;
      }
    }

    &:hover {
      background-color: var(--color-white);

      &::after {
        color: var(--color-dark);
      }

      .header__toggle-line {
        background-color: var(--color-dark);
      }
    }
  }

  &--catalog {
    // background-color: var(--color-white);
    // position: fixed;
    // width: 100%;
    // z-index: 10;

    // .header {
    //   &.scroll-header {
    //     background-color: var(--color-dark);

    //     .header__wrapper {
    //       border-bottom: none;
    //     }

    //     &.header--color-dark {
    //       background-color: var(--color-white);
    //       box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    //     }

    //     &.header--catalog {
    //       background-color: inherit;
    //       .header__wrapper {
    //         border-bottom: 1px solid #a6a5a4;
    //       }
    //     }
    //   }
    //   &__wrapper {
    //     border-bottom: 1px solid #9b9a98;
    //   }

    //   &__bottom {
    //     padding: 20px 0;
    //     @include breakpointsMaxW($bp-991) {
    //       display: none;
    //     }
    //   }
    // }
  }

  &--color-dark {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 10;
    color: var(--color-dark);

    @include breakpointsMaxW($bp-991) {
      background-color: var(--color-white);
    }

    .header {
      &__wrapper {
        z-index: 5;
      }
      &__phone {
        color: var(--color-dark);

        &::after {
          background-color: var(--color-dark);
        }

        &:hover {
          color: var(--color-white);
        }
      }

      &__cart {
        fill: var(--color-dark);

        &:hover {
          fill: var(--color-white);
          background-color: var(--color-dark);
        }
      }

      &__toggle {
        &::after {
          color: var(--color-dark);
        }

        &-line {
          background-color: var(--color-dark);
        }

        &:hover {
          background-color: var(--color-dark);

          &::after {
            color: var(--color-white);
          }

          .header__toggle-line {
            background-color: var(--color-white);
          }
        }
      }
    }

    .menu {
      &__link {
        color: #b1b1b1;

        &:hover,
        &--active {
          color: #3c3c3b;
        }
      }
    }

    .header {
      &__toggle {
        &-line {
          background-color: var(--color-dark);
        }
        &::after {
          color: var(--color-dark);
        }
      }

      &__cart {
        fill: var(--color-dark);
      }
    }
  }
}
