.hero {
  color: var(--color-white);
  position: relative;
  background-color: var(--color-accent);

  &__slider {
    height: 100%;
  }

  .swiper-pagination {
    bottom: 50px;
    max-width: 560px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);

    @include breakpointsMaxW($bp-768) {
      max-width: 320px;
    }

    &-bullet {
      border-radius: 0;
      width: 100%;
      height: 3px;
      background-color: var(--color-white);
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: transparent;
    border-radius: none;
    width: 30px;
    height: 60px;
    margin: 0;
    border-radius: 0;

    &::before {
      @include elDef();
      width: 100%;
      height: 150%;
      background-color: rgba(0, 0, 0, 0.5);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleY(0);
      transform-origin: bottom;
      transition: 200ms ease;
    }

    &:hover {
      &::before {
        transform: translate(-50%, -50%) scaleY(1);
      }
    }

    &::after {
      @include maskImage(url('../images/icons/chevron-big.svg'), contain);
      background-color: var(--color-white);
      width: 100%;
      height: 100%;
      transform: rotate(0);
      left: 0;
      top: 0;
    }

    @include breakpointsMaxW($bp-768) {
      display: none;
    }
  }

  .swiper-button-next {
    right: max(15px, calc((100% - 1280px) / 2));

    &::after {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev {
    left: max(15px, calc((100% - 1280px) / 2));
  }

  &__slide {
    @include background(cover);
    padding-top: 120px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--second {
      .hero__title {
        font-weight: 300;
        &-left {
          font-size: 16px;
          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
          &::after {
            height: 100%;
          }
        }

        &-right {
          @include breakpointsMaxW($bp-container-big) {
            font-size: 28px;

            font-size: calc(
              25px + (35 - 25) * ((100vw - 991px) / (1240 - 991))
            );
          }

          @include breakpointsMaxW($bp-991) {
            font-size: 20px;
          }
          @include breakpointsMaxW($bp-768) {
            font-size: 16px;
          }

          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
        }

        &-percent {
          font-size: 50px;
          line-height: 1.2;

          @include adaptive-value('font-size', 50, 10, 1);

          @include breakpointsMaxW($bp-576) {
            font-size: 20px;
          }
        }

        span {
          margin-bottom: 10px;
        }
      }
    }

    &--third {
      .hero__title {
        font-weight: 300;

        &-left {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          &::after {
            @include breakpointsMaxW($bp-768) {
              height: 100%;
            }
          }
          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
        }

        &-right {
          @include breakpointsMaxW($bp-container-big) {
            font-size: 28px;
            font-size: calc(
              25px + (35 - 25) * ((100vw - 991px) / (1240 - 991))
            );
          }

          @include breakpointsMaxW($bp-991) {
            font-size: calc(17px + (23 - 17) * ((100vw - 768px) / (991 - 768)));
          }

          @include breakpointsMaxW($bp-768) {
            font-size: 16px;
          }

          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
        }

        &-percent {
          font-size: 50px;
          line-height: 1.2;
          @include adaptive-value('font-size', 50, 10, 1);

          @include breakpointsMaxW($bp-576) {
            font-size: 22px;
            margin-bottom: 5px;
          }
        }

        span {
          margin-bottom: 10px;
        }
      }
    }

    &--fourth {
      .hero__title {
        font-weight: 300;

        &-left {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
        }

        &-right {
          @include breakpointsMaxW($bp-container-big) {
            font-size: 28px;

            font-size: calc(
              25px + (35 - 25) * ((100vw - 991px) / (1240 - 991))
            );
          }

          @include breakpointsMaxW($bp-991) {
            font-size: calc(17px + (23 - 17) * ((100vw - 768px) / (991 - 768)));
          }

          @include breakpointsMaxW($bp-768) {
            font-size: 16px;
          }

          @include breakpointsMaxW($bp-576) {
            font-size: 14px;
          }
        }

        &-percent {
          font-size: 50px;
          line-height: 1.2;
          @include adaptive-value('font-size', 50, 10, 1);

          @include breakpointsMaxW($bp-576) {
            font-size: 22px;
            margin-bottom: 5px;
          }
        }

        span {
          margin-bottom: 10px;
        }
      }
    }

    &--fifth {
      .hero__title {
        font-family: $EuclidCircularA;
        display: block;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        @include adaptive-value('font-size', 35, 13, 1);

        span {
          font-weight: 300;
        }

        @include breakpointsMaxW($bp-576) {
          font-size: 16px;
        }
      }
    }

    @include breakpointsMaxW($bp-991) {
      height: 460px;
      padding-top: 90px;
    }

    @include breakpointsMaxW($bp-768) {
      padding-top: 60px;
    }
  }

  &__title {
    font-family: $EuclidFlex;
    font-size: 35px;
    line-height: 1.3;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
    gap: 66px;

    display: flex;
    align-items: center;

    &-percent {
      font-family: $EuclidFlex;
    }

    @include breakpointsMaxW($bp-768) {
      gap: 30px;
      font-size: 23px;
    }

    @include breakpointsMaxW($bp-576) {
      font-size: 16px;
      gap: 20px;
    }

    &-left {
      text-align: right;
      position: relative;

      &::after {
        @include elDef();
        width: 4px;
        height: calc(100% - 10px);
        background-color: var(--color-white);
        top: 50%;
        transform: translateY(-50%);
        right: -35px;

        @include breakpointsMaxW($bp-991) {
          width: 3px;
        }

        @include breakpointsMaxW($bp-768) {
          width: 2px;
          right: -15px;
        }

        @include breakpointsMaxW($bp-576) {
          width: 2px;
          right: -12px;
        }
      }
    }

    &-right {
      text-align-last: left;
    }

    span {
      display: block;
    }
  }

  &__link {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
    text-decoration: underline;
    color: var(--color-white);

    @include breakpointsMaxW($bp-576) {
      font-size: 16px;
    }
  }
}
