.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 11;
  width: 440px;

  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 350ms ease-in-out;
  overflow-x: auto;

  @include breakpointsMaxW($bp-768) {
    width: 100%;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    box-shadow: 0px 36px 51px 0px rgba(0, 0, 0, 0.5);
  }

  &__top {
    height: 80px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
    @include adaptive-value('padding-left', 40, 20, 1);
    @include adaptive-value('padding-right', 40, 20, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__logo {
    margin-bottom: 40px;
  }

  &__close {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--color-dark);
    z-index: 999;
  }

  &__body {
    @include adaptive-value('padding-left', 40, 20, 1);
    @include adaptive-value('padding-right', 40, 20, 1);
    padding-bottom: 20px;
  }

  &__bottom {
    margin-top: auto;
    @include adaptive-value('padding-left', 40, 20, 1);
    @include adaptive-value('padding-right', 40, 20, 1);
    padding-bottom: 20px;
    padding-top: 20px;

    .socials {
      &__link {
        transition: 200ms ease;
        background-color: #898989;
        opacity: 0.7;

        &:hover {
          opacity: 1;

          &::after {
            background-color: var(--color-white);
          }
        }
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link {
    display: block;
    color: var(--color-dark);
    font-size: 18px;
    width: 100%;

    &:hover {
      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    span {
      transition: 250ms ease;
      position: relative;

      &::after {
        @include elDef();
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -3px;
        background-color: var(--color-dark);
        transform-origin: left;
        transform: scaleX(0);
        transition: 200ms ease;
      }
    }
  }
}
