.offices {
  @include background(cover);
  background-attachment: fixed;
  color: var(--color-white);

  &__wrapper {
    @include adaptive-value('padding-top', 100, 50, 1);
    @include adaptive-value('padding-bottom', 100, 50, 1);
  }

  &__offer {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value('gap', 20, 15, 1);
  }

  &__text {
    max-width: 580px;
    @include adaptive-value('margin-bottom', 15, 5, 1);
    @include adaptive-value('font-size', 19, 14, 1);
  }

  &__title {
    @include fz34();
  }
  
  &__btn {
    line-height: 1;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 13px;
    @include adaptive-value('font-size', 13, 10, 1);
    @include adaptive-value('width', 240, 180, 1);
    @include adaptive-value('height', 54, 40, 1);
    @include adaptive-value('padding', 20, 5, 1);
  }
}
