.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 350ms ease;

  &__container {
    width: calc(100% - 40px);
    max-width: 470px;
    background-color: #fafafa;
    transition: 250ms ease-in;
    position: relative;
    overflow-y: auto;
    max-height: calc(100% - 100px);
    transition: 750ms ease;
    @include adaptive-value('padding', 40, 15, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    display: flex;
    animation: opacity-visibility 500ms ease forwards;
  }

  &__wrapper {
    width: 100%;
  }

  &__title {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    color: #282828;
    text-align: center;
    @include adaptive-value('margin-bottom', 40, 20, 1);
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    color: #282828;
    @include breakpointsMaxW($bp-768) {
      font-size: 15px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 16px;
    top: 16px;
    fill: #bcc4cf;
    transition: 150ms ease;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 10px;
      height: 10px;
    }

    &:hover {
      fill: var(--color-white);
      border-color: var(--color-dark);
      background-color: var(--color-dark);
    }
  }

  &--cart {
    .popup {
      &__container {
        max-width: 410px;
      }

      &__title {
        font-size: 17px;
        line-height: 1.1;
        font-weight: 500;
        color: #313131;
        margin-bottom: 20px;
        text-align: left;
      }
    }
  }

  &--spec {
    .popup {
      &__container {
        max-width: 1000px;
      }
    }
  }

  &--add-services {
    .popup {
      &__container {
        max-width: 1280px;

        @include breakpointsMaxW($bp-768) {
          padding-top: 50px;
        }
      }

      &__list {
        height: 560px;
        overflow-y: auto;
        padding-right: 20px;
        .simplebar-scrollbar::before {
          background-color: #c5c5c5;
          border-radius: 3px;
        }
      }

      &__item {
        padding: 20px 0;
        border-bottom: 1px solid #e8e8e8;

        &:first-child {
          border-top: 1px solid #e8e8e8;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include breakpointsMaxW($bp-768) {
          align-items: center;
        }

        &-inner {
          width: 100%;
          padding: 12px;
          margin-bottom: 20px;
          background-color: #f2f2f2;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 40px;

          @include breakpointsMaxW($bp-768) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }

          .cart-btn {
            max-width: 300px;
            margin-bottom: 0;
          }
        }
      }

      &__total {
        display: flex;
        align-items: center;
        font-size: 21px;
        font-weight: 500;
        color: #464646;
        gap: 20px;
        span {
          font-size: 30px;
        }
      }

      &__btn {
        font-size: 17px;
        line-height: 1;
        font-weight: 500;
        color: var(--color-white);
        padding: 20px 25px;
        background-image: linear-gradient(
          0deg,
          #896a4b -24%,
          #9d8269 35%,
          #c7aa8e 66%,
          #a1876f 96%,
          #a1876f 126%
        );
        box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 28.5px;
      }
    }
  }

  &--request {
  }

  &--individual {
    .popup {
      &__container {
        max-width: 940px;
      }
      &__text {
        text-align: center;
        margin-bottom: 30px;

        span {
          display: block;

          @include breakpointsMaxW($bp-768) {
            display: inline;
          }
        }
      }
    }
  }

  &--сertification {
    .popup {
      &__container {
        max-width: 1280px;

        @include breakpointsMaxW($bp-576) {
          padding-top: 45px;
        }
      }

      &__text {
        text-align: center;
        @include adaptive-value('margin-bottom', 40, 30, 1);
        @include breakpointsMaxW($bp-576) {
          font-size: 15px;
        }

        span {
          display: block;

          @include breakpointsMaxW($bp-768) {
            display: inline;
          }
        }
      }
    }
  }
}
