.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: 350ms ease;

  &__container {
    width: calc(100% - 40px);
    max-width: 470px;
    background-color: #fafafa;
    transition: 250ms ease-in;
    position: relative;
    overflow-y: auto;
    max-height: calc(100% - 40px);
    transition: 750ms ease;
    @include adaptive-value('padding', 40, 15, 1);

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    display: flex;
    animation: opacity-visibility 500ms ease forwards;
  }

  &__wrapper {
    width: 100%;
  }

  &__title {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    color: #282828;
    text-align: center;
    @include adaptive-value('margin-bottom', 40, 20, 1);
  }

  &__text {
    font-size: 16px;
    font-weight: 300;
    color: #282828;
    @include breakpointsMaxW($bp-768) {
      font-size: 15px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 16px;
    top: 16px;
    fill: #bcc4cf;
    transition: 150ms ease;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 10px;
      height: 10px;
    }

    &:hover {
      fill: var(--color-white);
      border-color: var(--color-dark);
      background-color: var(--color-dark);
    }
  }

  &--request {
    .form-submit {
      &__input {
        padding: 13px 20px;
      }
    }
  }

  &--cooperation {
  }

  &--cart {
    .popup {
      &__container {
        max-width: 410px;
      }

      &__title {
        font-size: 17px;
        line-height: 1.1;
        font-weight: 500;
        color: #313131;
        margin-bottom: 20px;
        text-align: left;
      }
    }
  }

  &--spec {
    .popup {
      &__container {
        max-width: 1000px;
      }
    }
  }

  &--add-services {
    .popup {
      &__container {
        max-width: 1280px;

        @include breakpointsMaxW($bp-768) {
          padding-top: 50px;
        }
      }

      &__list {
        height: 560px;
        overflow-y: auto;
        padding-right: 20px;
        .simplebar-scrollbar::before {
          background-color: #c5c5c5;
          border-radius: 3px;
        }
      }

      &__item {
        padding: 20px 0;
        border-bottom: 1px solid #e8e8e8;

        &:first-child {
          border-top: 1px solid #e8e8e8;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include breakpointsMaxW($bp-768) {
          align-items: center;
        }

        &-inner {
          width: 100%;
          padding: 12px;
          margin-bottom: 20px;
          background-color: #f2f2f2;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 40px;

          @include breakpointsMaxW($bp-768) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }

          .cart-btn {
            max-width: 300px;
            margin-bottom: 0;
          }
        }
      }

      &__total {
        display: flex;
        align-items: center;
        font-size: 21px;
        font-weight: 500;
        color: #464646;
        gap: 20px;
        span {
          font-size: 30px;
        }
      }

      &__btn {
        font-size: 17px;
        line-height: 1;
        font-weight: 500;
        color: var(--color-white);
        padding: 20px 25px;
        background-image: linear-gradient(
          0deg,
          #896a4b -24%,
          #9d8269 35%,
          #c7aa8e 66%,
          #a1876f 96%,
          #a1876f 126%
        );
        box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
        border-radius: 28.5px;
      }
    }
  }

  &--individual {
    .popup {
      &__container {
        max-width: 940px;
      }

      &__bottom {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include breakpointsMaxW($bp-768) {
          margin-top: 20px;
        }
      }

      &__text {
        text-align: center;
        margin-bottom: 30px;

        span {
          display: block;

          @include breakpointsMaxW($bp-768) {
            display: inline;
          }
        }
      }
    }
  }

  &--сertification {
    .popup {
      &__container {
        max-width: 1280px;

        @include breakpointsMaxW($bp-576) {
          padding-top: 45px;
        }
      }

      &__text {
        text-align: center;
        @include adaptive-value('margin-bottom', 40, 30, 1);

        @include breakpointsMaxW($bp-576) {
          font-size: 15px;
        }

        span {
          display: block;

          @include breakpointsMaxW($bp-768) {
            display: inline;
          }
        }
      }
    }
  }

  &--learn-more {
    .popup {
      &__wrapper {
        width: calc(100% - 50px);
      }
      &__container {
        max-width: 535px;
      }
    }
    .more-block {
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__slider {
        margin-bottom: 20px;
        height: 290px;
      }

      &__slide {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        img {
          @include img(cover);
        }
      }

      &__text {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #313131;
        text-align: center;
        margin: 0 auto;
        width: calc(100% - 100px);
        margin-bottom: 20px;

        @include breakpointsMaxW($bp-768) {
          width: calc(100% - 40px);
        }
      }
      &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
      &__btn {
        width: 175px;
        height: 50px;
        line-height: 1;
        padding: 15px;

        @include breakpointsMaxW($bp-768) {
          width: 150px;
          padding: 15px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        background-color: transparent;
        width: 30px;
        height: 30px;

        &::after {
          width: 100%;
          height: 100%;
          background-color: var(--color-white);
          @include maskImage(url('../images/icons/chevron-big.svg'), contain);
          transform: translate(-50%, -50%) rotate(0);
        }
      }
      .swiper-button-next {
        &::after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }

    .popup {
      &__container {
        padding: 40px 0 20px;
      }
    }
  }
  &--learn-more-without-btns {
    .popup {
      &__container {
        max-width: 535px;
      }

      &__wrapper {
        width: calc(100% - 50px);
      }
    }
    .more-block {
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__top {
        margin-bottom: 20px;

        img {
          @include img(cover);
        }
      }

      &__text {
        font-size: 14px;
        line-height: 25px;
        font-weight: 300;
        color: #313131;
        text-align: center;
        margin-bottom: 20px;
        width: calc(100% - 100px);
        margin: 0 auto;

        @include breakpointsMaxW($bp-768) {
          width: calc(100% - 40px);
        }
      }
      &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
      }
      &__btn {
        width: 175px;
        height: 50px;
        line-height: 1;
        padding: 15px;

        @include breakpointsMaxW($bp-768) {
          width: 150px;
          padding: 15px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        background-color: transparent;
        width: 30px;
        height: 30px;

        &::after {
          width: 100%;
          height: 100%;
          background-color: var(--color-white);
          @include maskImage(url('../images/icons/chevron-big.svg'), contain);
          transform: translate(-50%, -50%) rotate(0);
        }
      }
      .swiper-button-next {
        &::after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }

    .popup {
      &__container {
        padding: 40px 0 20px;
      }
    }
  }

  &--video {
    .popup {
      &__container {
        max-width: 700px;
      }
    }
    .more-block {
      min-height: 400px;
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__slider {
        height: 100%;
      }

      &__slide {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        img {
          @include img(cover);
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        background-color: transparent;
        width: 30px;
        height: 30px;

        &::after {
          width: 100%;
          height: 100%;
          background-color: var(--color-white);
          @include maskImage(url('../images/icons/chevron-big.svg'), contain);
          transform: translate(-50%, -50%) rotate(0);
        }
      }
      .swiper-button-next {
        &::after {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }

    .popup {
      &__container {
        padding: 40px 0 0 0;
      }
    }
  }

  &--projects {
    .popup {
      &__container {
        max-width: 950px;
      }
    }

    .projects-block {
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 15px;

        @include breakpointsMaxW($bp-991) {
          grid-template-columns: repeat(3, minmax(auto, 205px));
          justify-content: center;
        }

        @include breakpointsMaxW($bp-768) {
          grid-template-columns: repeat(2, minmax(auto, 205px));
        }

        @include breakpointsMaxW($bp-576) {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px 10px;
        }
      }

      .projects-card {
        max-width: 205px;
        width: 100%;
        transition: 500ms ease;

        &__top {
          width: 100%;
          height: 145px;
          margin-bottom: 14px;
          display: block;
          transition: 400ms ease;

          @include adaptive-value('height', 145, 110, 1);
          &:hover {
            opacity: 0.8;
          }

          img {
            @include img(cover);
          }
        }

        &__title {
          font-size: 16px;
          line-height: 1.2;
          font-weight: 500;
          color: #2f2f2f;
          margin-bottom: 8px;
          @include adaptive-value('font-size', 16, 14, 1);
        }

        &__address {
          font-size: 12px;
          line-height: 1.2;
          font-weight: 300;
          color: #4a4a4a;
          @include adaptive-value('font-size', 12, 10, 1);
        }
      }
    }
  }

  &--projects-videos {
    .popup {
      &__container {
        max-width: 950px;
      }
    }

    .projects-block {
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 15px;

        @include breakpointsMaxW($bp-991) {
          grid-template-columns: repeat(3, minmax(auto, 205px));
          justify-content: center;
        }

        @include breakpointsMaxW($bp-768) {
          grid-template-columns: repeat(2, minmax(auto, 205px));
        }

        @include breakpointsMaxW($bp-576) {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px 10px;
        }
      }

      .video {
        position: relative;
        width: 100%;
        max-width: 210px;
        height: 120px;

        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  &--reviews {
    .popup {
      &__container {
        max-width: 570px;
      }
    }

    .reviews-block {
      &__title {
        font-size: 25px;
        line-height: 1.2;
        font-weight: 500;
        color: #2f2f2f;
        text-align: center;
        margin-bottom: 30px;
      }

      &__slider {
        min-width: 0;
        height: 100%;
        max-height: 515px;
        max-width: 620px;
        width: 100%;

        @include breakpointsMaxW($bp-991) {
          margin: 0 auto;
        }
      }

      .slider-thumbs {
        width: 100%;
        display: grid;
        grid-template-columns: 72px 1fr;
        gap: 10px;
        height: 100%;
        min-width: 0;
        min-height: 485px;
        position: relative;
        background-color: var(--color-white);
        border-radius: 5px;

        &__main {
          max-width: 100%;
          height: 100%;
          min-width: 0;

          .swiper-slide {
            border-radius: 10px;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slider-thumbs__img {
              width: 99%;
              height: 99%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #d7d7d7;

              img {
                margin: 0 auto;
                width: 100%;
                height: 100%;

                object-fit: contain;
                border-radius: 10px;
              }
            }
          }
        }

        &__nav {
          &-control {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 40px;
            margin: auto;
            gap: 10px;

            .swiper-button-prev,
            .swiper-button-next {
              position: relative !important;
              background-color: transparent;

              left: 0 !important;
              right: 0 !important;
              bottom: 0 !important;
              top: 30px !important;
              margin-top: 0 !important;
              transform: translateY(-50%) rotate(90deg) !important;
              width: 15px;
              height: 15px;
            }
          }
        }

        &__nav-wrap {
          flex-shrink: 0;
          width: 100%;
          height: 400px;
          min-width: 0;
          position: relative;

          .swiper-slide {
            cursor: pointer;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 95px;
            border-radius: 10px;
            border-radius: 5px;
            border: 1px solid #d7d7d7;

            &-thumb-active {
              border: 2px solid var(--color-accent);
            }

            img {
              @include img(contain);
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}

.video {
  width: 100%;
  height: 100%;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
