.production {
  @include adaptive-value('padding-top', 70, 40, 1);
  @include adaptive-value('padding-bottom', 70, 40, 1);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 360px));
    gap: 25px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: repeat(2, minmax(auto, 360px));
      justify-content: center;
    }
    @include breakpointsMaxW($bp-576) {
      grid-template-columns: minmax(auto, 360px);
    }
  }
}
