.product-card {
  background-color: var(--color-bg);
  font-family: $EuclidCircularA;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpointsMaxW($bp-991) {
    text-align: center;
    align-items: center;
  }

  &:hover {
    .product-card {
      &__top {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__title {
    font-size: 19px;
    font-weight: 300;
    color: var(--color-dark);
    text-transform: uppercase;
    margin-bottom: 10px;

    @include adaptive-value('font-size', 19, 14, 1);

    &--mb0 {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-text);
  }

  &__top {
    display: block;
    width: 100%;
    @include adaptive-value('height', 415, 120, 1);
    overflow: hidden;

    img {
      @include img(cover);
      transition: 350ms ease;
    }
  }

  &__body {
    padding: 30px 15px 15px 15px;
    display: flex;
    align-items: center;

    gap: 15px;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    @include adaptive-value('padding-top', 30, 15, 1);

    @include breakpointsMaxW($bp-991) {
      flex-direction: column;
    }
    &--aic {
      align-items: center;
      .product-card__right {
        margin-top: 0;
      }
      .product-card__left {
        align-items: center;
        justify-content: center;
      }
      .product-card__title {
        margin-bottom: 0;
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    @include breakpointsMaxW($bp-991) {
      align-items: center;
    }
  }

  &__right {
    display: flex;
    align-items: flex-end;
    margin-top: auto;

    &--mt0 {
      margin-top: 0;
    }
  }

  &__btn {
    display: block;

    width: 160px;
    @include adaptive-value('font-size', 12, 8, 1);

    @include breakpointsMaxW($bp-768) {
      max-width: 160px;
      width: 100%;
    }
  }
}
