.product {
  padding-top: 30px;
  height: calc(100vh - 100px);
  position: relative;

  @include breakpointsMaxW($bp-991) {
    height: auto;
    padding: 20px 0 80px 0;
  }

  &__wrapper {
    @include breakpointsMaxW($bp-991) {
      height: auto;
    }
  }

  &__content {
    display: grid;
    position: relative;
    gap: 50px;
    overflow-y: auto;
    height: calc(100vh - 130px);

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: auto;
      justify-content: center;
      height: auto;
      overflow: initial;
      gap: 30px;
    }
  }

  &__preview {
    padding-top: 90px;
    width: 100%;
    min-width: 0;
    position: relative;
    // max-width: 780px;
    max-width: max(880px, calc((150%) / 2));
    position: absolute;
    height: 100%;
    z-index: -1;

    @include breakpointsMaxW(1310px) {
      max-width: calc(600px + (880 - 600) * ((100vw - 991px) / (1310 - 991)));
    }

    @include breakpointsMaxW($bp-991) {
      padding-top: 30px;
      max-width: 880px;
      position: static;
    }

    @include breakpointsMaxW($bp-768) {
      padding-bottom: 0;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 250ms ease;
    z-index: 5;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  .swiper-button-next {
    transform: translateX(10px);
    right: max(15px, calc((100% - 460px) / 2));
  }

  .swiper-button-prev {
    transform: translateX(-10px);
  }

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
    max-height: 1000px;

    .swiper-slide {
      max-width: 100%;
      height: 100%;
    }

    @include breakpointsMaxW($bp-991) {
      max-width: 880px;
      height: 500px;
    }

    @include breakpointsMaxW($bp-768) {
      height: calc(300px + (560 - 300) * ((100vw - 375px) / (768 - 375)));
    }
  }

  &__slide {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 100%;
    height: 100%;

    @include breakpointsMaxW($bp-991) {
      max-width: 650px;
    }

    img {
      @include img(contain);
    }
  }

  &__info {
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 130px);
    padding-left: 930px;
    z-index: 1;
    padding-left: max(880px, calc((150%) / 2));
    margin-top: 30px;

    @include breakpointsMaxW(1310px) {
      min-width: 350px;
      padding-left: calc(
        580px + (880 - 580) * ((100vw - 991px) / (1310 - 991))
      );
    }

    @include breakpointsMaxW($bp-991) {
      padding-left: 0;
      max-width: 576px;
      margin: 0 auto;
      height: auto;
      overflow: initial;
    }
  }

  &__title {
    text-align: center;
    @include fz30();
    font-weight: 300;
    text-transform: none;
    margin-bottom: 15px;
  }

  &__sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 300;
    color: #474747;
    margin-bottom: 35px;

    @include breakpointsMaxW($bp-360) {
      flex-direction: column;
    }
  }

  &__colors {
    margin-bottom: 25px;
  }

  .colors {
    &__list {
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: center;
      margin-bottom: 11px;
    }

    &__text {
      font-size: 15px;
      line-height: 1.2;
      font-weight: 500;
      color: #282828;
      text-align: center;
    }

    &__item {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      border: 1px solid #eae9e9;

      img {
        @include img(cover);
      }

      &::after {
        @include elDef();
        width: 43px;
        height: 43px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #917457;
        opacity: 0;
        visibility: hidden;
        background-color: transparent;
        transition: 250ms ease;
        border-radius: 50%;
      }

      &--active {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__spec-btn {
    z-index: 1;
    cursor: pointer;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 380px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: #2f2f2f;
    transition: 200ms ease;

    .icon {
      background-color: #ffffff;
      box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      transition: 200ms ease;

      &::after {
        transition: 200ms ease;
        @include elDef();
        width: 11px;
        height: 11px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
        @include maskImage(url('../images/icons/chevron.svg'), contain);
        background-color: var(--color-dark);
      }
    }

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);

      .icon {
        background-color: var(--color-bg);
        &::after {
        }
      }
    }
  }
}

.tabs {
  padding-left: 10px;

  &__text {
    font-size: 13px;
    font-weight: 300;
    color: #8d8d8d;
    text-align: center;
    margin-bottom: 30px;
  }

  .checkbox {
    &__box {
      margin-right: 9px;
    }

    &__text {
      font-size: 14px;
      line-height: 1.2;
    }
  }

  .checkbox-box--sub {
    .checkbox-box__item {
      font-size: 15px;
    }
  }

  &__resizes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 100px));
    gap: 15px;
    margin-bottom: 20px;
  }

  &__resize {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    &-input {
      background-color: var(--color-white);
      border: 1px solid rgba(193, 193, 193, 0.53);
      border-radius: 3px;
      text-align: center;
      width: 100%;
      font-size: 12px;
      line-height: 1;
      font-weight: 300;
      color: #7c7c7c;
      padding: 9px;
    }

    span {
      font-size: 12px;
      font-weight: 300;
      color: #313131;
    }
  }

  &__top {
    max-width: 340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 25px;
    padding: 5px;
    height: 50px;
    margin-bottom: 17px;

    &-btn {
      background-color: transparent;
      font-size: 13px;
      line-height: 1;
      font-weight: 300;
      color: #777777;
      width: 48%;
      height: 100%;

      &.tabs-btn--active {
        background-color: var(--color-white);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 18.8px;
        color: #313131;
      }
    }
  }

  &__list {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__item {
    display: grid;
    gap: 14px;
  }

  &__subcheckboxes {
    display: flex;
    align-items: center;
    padding-left: 62px;
    justify-content: flex-start;

    .checkbox-box__checkbox {
      width: 100px;
    }

    .checkbox-box__checkbox {
      .checkbox__text {
        color: #757575;
        font-weight: 300;
        font-size: 15px;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    .checkbox {
      &__text {
        font-weight: 500;
        color: #313131;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

    @include breakpointsMaxW($bp-576) {
      padding: 12px 20px;
    }

    background-image: linear-gradient(
      0deg,
      #896a4b -24%,
      #9d8269 35%,
      #c7aa8e 66%,
      #a1876f 96%,
      #a1876f 126%
    );
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 28.5px;
    color: var(--color-white);

    &:active {
      transform: scale(0.98);
    }

    &-text {
      font-size: 13px;
      line-height: 18px;
      font-weight: 300;
      width: 50%;
      position: relative;
      
      &::after {
        @include elDef();
        background-color: #d5d5d5;
        right: 0;
        height: calc(100% - 3px);
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &-total {
      width: 50%;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
    }
  }

  &__notify {
    font-size: 11px;
    line-height: 17px;
    font-weight: 300;
    color: #757575;
    text-align: center;
  }
}
