<section
  class="accessories"
  style="background-image: url('images/content/accessories.jpg')"
>
  <div class="container">
    <div class="accessories__wrapper">
      <div class="accessories__offer">
        <h2 class="accessories__title">АКСЕССУАРЫ</h2>
        <div class="accessories__text">
          <p>
            -15% на ВСЕ дополнительные аксесуары при одновременном заказе с
            изделием при олпате онлайн без замера в день обращения
          </p>
        </div>
        <a class="accessories__btn btn btn--white" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>
