<section
  class="calculation"
  style="background-image: url('images/content/calculation.jpg')"
>
  <div class="container">
    <div class="calculation__wrapper">
      <div class="calculation__offer">
        <h2 class="calculation__title">ОНЛАЙН РАССЧЕТ КОНСТРУКЦИИ</h2>
        <div class="calculation__text">
          <p>
            Рассчитайте точную стоимость констуркции самостоятельно без
            "оставить заявку", <span></span>
            без общения с менеджерами и замерщиками, а оплатив изделие сразу на
            сайте в день обращения мы дадим -10% на стоимость констукции и -15%
            при заказе с самовывозом и самостоятельной сборкой изделий.
          </p>
        </div>
        <a class="calculation__btn btn btn--white" href="#">
          Рассчитать стоимость

          <span class="btn__left"></span>
          <span class="btn__right"></span>
        </a>
      </div>
    </div>
  </div>
</section>
