<section class="cart">
  <div class="container container--1280">
    <h2 class="cart__title">Корзина</h2>

    <div class="cart__wrapper">
      <div class="cart__left">
        <div class="cart__top cart-top">
          <ul class="cart-top__list">
            <li class="cart-top__item cart-top__item--active">
              <h3 class="cart-top__title">Доставка по адресу</h3>
              <div class="cart-top__text">
                <p>Доставка заказа в согласованное заранее дату и время</p>
              </div>
            </li>
            <li class="cart-top__item">
              <h3 class="cart-top__title">Доставка до ТК</h3>
              <div class="cart-top__text">
                <p>Доставка готового изделия до
                  терминала ТК "ПЭК" или
                  "ЖелДорЭкспедиции</p>
              </div>
            </li>
            <li class="cart-top__item">
              <h3 class="cart-top__title">Самовывоз</h3>
              <div class="cart-top__text">
                <p>Заберите заказ из центрального
                  офиса или с производства</p>
              </div>
            </li>
          </ul>
        </div>

        <span class="cart__count">Товар 1</span>
        <ul class="cart__list">
          <li class="cart__item">
            <article class="product-cart">
              <div class="product-cart__img">
                <img src="images/content/cart-product/1.png" alt="Киндер" />
              </div>
              <div class="product-cart__body">
                <div class="product-cart__info">
                  <h3 class="product-cart__title">Киндер</h3>

                  <ul class="product-cart__list">
                    <li class="product-cart__item">ШхВхГ: 2000х2500х650</li>
                    <li class="product-cart__item">Непереставные полки</li>
                    <li class="product-cart__item">Роллетная система</li>
                    <li class="product-cart__item">Правая стенка</li>
                    <li class="product-cart__item">Левая стенка</li>
                    <li class="product-cart__item">Крыша</li>
                  </ul>
                </div>
                <div class="product-cart__right">
                  <p class="product-cart__price">25 510 <span>₽</span></p>

                  <button class="product-cart__btn">Удалить из корзины</button>
                </div>
              </div>
            </article>
          </li>
          <li class="cart__item">
            <article class="product-cart product-cart--install">
              <div class="product-cart__body">
                <div class="product-cart__info">
                  <h3 class="product-cart__title">Установка</h3>
                </div>
                <div class="product-cart__right">
                  <p class="product-cart__price">5 000 <span>₽</span></p>

                  <button class="product-cart__btn">Удалить из корзины</button>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="cart__right">
        <div class="cart-right">
          <ul class="cart-right__list">
            <li class="cart-right__item">
              <div class="cart-right__left">Товары <span>(1)</span></div>
              <div class="cart-right__right">25 510 ₽</div>
            </li>
            <li class="cart-right__item">
              <div class="cart-right__left">Доставка</div>
              <div class="cart-right__right">не учтена</div>
            </li>
            <li class="cart-right__item">
              <div class="cart-right__left">Установка</div>
              <div class="cart-right__right">5 000 ₽</div>
            </li>
          </ul>
          <div class="cart-right__total">
            <p class="cart-right__total-text">Итого</p>
            <p>30 510 <span> ₽</span></p>
          </div>

          <button class="cart-right__btn" type="button">ОФОРМИТЬ ЗАКАЗ</button>
          <div class="cart-right__notify">
            <p>
              Дата и время не согласовывается. Стоимость доставки определяется
              исходя из Зонирования адреса.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
