<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/17.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОТЗЫВЫ КЛИЕНТОВ</h3>
              <p class="product-card__text">
                Мы ценим и уважаем мнение каждого нашего клиента.
                Любой клиент может оставить свой отзыв.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/18.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ФОТОГРАФИИ "ЖИВЫХ" ПРОЕКТОВ”</h3>
              <p class="product-card__text">
                Портфолио из установленных ранее проектами.
                Возможно вы найдете интересные решения для себя.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/19.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ВИДЕО С "ЖИВЫМИ" УСТАНОВКАМИ”</h3>
              <p class="product-card__text">
                Монтажные работы осущуствляются только
                квалифицированными специалистами, имеющие
                соответсвующие допуски.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/20.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">КАТАЛОГ ИЗДЕЛИЙ</h3>
              <p class="product-card__text">
                Мы подобрали 10 типовых проектов, способных
удовлетворить потребности большинства клиентов.
Если этого мало - сделаем индивидуальный проект
именно под Вас.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
