<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/9.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Для клиентов кому интересны только стеллажи. Мы делаем
                стеллажные констукрции любых размеров и форм. Рабоатем, в том
                числе, с индивидуальными проектами.
              </p>
              <p class="product-card__text">Корпоративным клиентам - особые условия.</p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/10.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Мы авторизованные диллеры производителя роллетных систем Алютех.
                Закупаем длинномерами и делаем в нужный разме. Срок изготовления
                от 1-го дня. Приглашаем к сотрудничеству.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/11.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Стальные роллетные системы шириной до 12 метров и высотой до 6
                метров. Профиль - сплошной или перфарированный. Покраска - в
                любой RAL.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/12.jpg" alt="1" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Идеальное решениие для интереьеров со смыслов. Теперь в беседке
                или на веранде уютно станет в любую погоду.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
