<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/13.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">
                Ограждение мото- и машино-мест
              </h3>
              <p class="product-card__text">
                Решение по закрытию простратнсва на мото- и машино-местах.
                Обустройство пространства. Управление доступом с телефона из
                любой точки мира.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/14.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">
                Обустройство кладовых помещений
              </h3>
              <p class="product-card__text">
                Оборудование кладовых помещений как стандартными стеллажными
                системами, так и конструкциями по индивидуальному заказу.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/15.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">Сетчатое ограждение</h3>
              <p class="product-card__text">
                Способ сохранить имущество при помощи сварной сетки и
                металлчисеких опор. Надежная и долговечная конструкция по всем
                требованиям МЧС.
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/16.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ИНДИВИДУАЛЬНЫЕ ПРОЕКТЫ</h3>
              <p class="product-card__text">
                Индивидуальные проекты и уникальные конструкторские решениями
                для клиентов, которые енят личностный подход и имеют особые цели
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
