<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/1.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Решение для тех кто еще не сформулировал свою идею
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/1.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Решение для тех кто еще не сформулировал свою идею
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/1.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Решение для тех кто еще не сформулировал свою идею
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <div class="product-card__top">
            <img src="images/content/products/1.jpg" alt="1" />
          </div>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Решение для тех кто еще не сформулировал свою идею
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#">
                перейти в каталог
              </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
