<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/1.jpg" alt="Продукт" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ОСТАВЬТЕ МЕСТО ДЛЯ ФАНТАЗИИ</h3>
              <p class="product-card__text">
                Решение для тех кто еще не сформулировал свою идею
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/2.jpg" alt="Продукт" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">
                КЛАССИКА. ПРАКТИЧНОСТЬ - НИЧЕГО ЛИШНЕГО
              </h3>
              <p class="product-card__text">
                Универсальность решений для Вашего хранения
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/3.jpg" alt="Продукт" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">БОЛЬШИЕ АМБИЦИИ</h3>
              <p class="product-card__text">
                Для тех, у кого много вещей и нужно еще немного больше
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/4.jpg" alt="Продукт" />
          </a>
          <div class="product-card__body">
            <div class="product-card__left">
              <h3 class="product-card__title">ЛЮБОЙ РАЗМЕР И ФОРМА</h3>
              <p class="product-card__text">
                Для клиентов, которым треуется изделие с уникальной геометрией и
                индивидуалььными решениями
              </p>
            </div>
            <div class="product-card__right">
              <a class="product-card__btn btn" href="#"> перейти в каталог </a>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
