<section class="catalog catalog--catalog-6">
  <div class="container">
    <h2 class="visually-hidden">Каталог</h2>

    <ul class="catalog__list">
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/21.jpg" alt="1" />
          </a>
          <div class="product-card__body product-card__body--aic">
            <div class="product-card__left">
              <h3 class="product-card__title">садоводам и любителям</h3>
            </div>

            <a class="product-card__btn btn" href="#">перейти в каталог</a>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/22.jpg" alt="1" />
          </a>
          <div class="product-card__body product-card__body--aic">
            <div class="product-card__left">
              <h3 class="product-card__title">свой погребок</h3>
            </div>

            <a class="product-card__btn btn" href="#">перейти в каталог</a>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/23.jpg" alt="1" />
          </a>
          <div class="product-card__body product-card__body--aic">
            <div class="product-card__left">
              <h3 class="product-card__title">АВТОЛЮБИТЕЛЯМ</h3>
            </div>

            <a class="product-card__btn btn" href="#">перейти в каталог</a>
          </div>
        </article>
      </li>
      <li class="catalog__item">
        <article class="product-card">
          <a class="product-card__top" href="#">
            <img src="images/content/products/24.jpg" alt="1" />
          </a>
          <div class="product-card__body product-card__body--aic">
            <div class="product-card__left">
              <h3 class="product-card__title">
                рыболовам и любителям <span>активного отдыха</span>
              </h3>
            </div>

            <a class="product-card__btn btn" href="#">перейти в каталог</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
