<section
  class="certification"
  style="background-image: url('images/content/certification.jpg')"
>
  <div class="container">
    <div class="certification__wrapper">
      <div class="certification__offer">
        <h2 class="certification__title">СЕРТИФИКАЦИЯ ИЗДЕЛИЙ И ГАРАНТИЯЯ</h2>
        <div class="certification__text">
          <p>Все материалы испуолььзуемые в изделия имеют сертификаты.</p>
          <p>Гарантия от 2-х лет.</p>
        </div>
        <button class="certification__btn btn btn--white btn-certification">
          подробнее
        </button>
      </div>
    </div>
  </div>
</section>
