<section class="checkout">
  <div class="container container--1280">
    <h2 class="checkout__title">Оформление заказа</h2>

    <form class="checkout__wrapper">
      <div class="checkout__left tabs">
        <div class="checkout-box checkout-box--top">
          <h3 class="checkout-box__title">Получатель</h3>

          <div class="checkout-box__row checkout-box__row--recipient">
            <div class="checkout-box__btn-tab tabs-btn">Я физическое лицо</div>
            <div class="checkout-box__btn-tab tabs-btn">Я юридическое лицо</div>
          </div>

          <div class="tabs-content active">
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Фамилия Имя"
                />
                <label class="checkout-box__label">Фамилия Имя</label>
              </div>
            </div>
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Почта"
                />
                <label class="checkout-box__label">Почта</label>
              </div>
            </div>
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="tel"
                  placeholder="+7 (999) 999-99-99"
                />
                <label
                  class="checkout-box__label checkout-box__label--first-letter"
                >
                  <span>+7</span> (999) 999-99-99
                </label>
              </div>
            </div>
          </div>

          <div class="tabs-content">
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="ИНН организации"
                />
                <label class="checkout-box__label">ИНН организации</label>
              </div>
            </div>
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Название организации"
                />
                <label class="checkout-box__label">Название организации</label>
              </div>
            </div>
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Фамилия и имя"
                />
                <label class="checkout-box__label">Фамилия и имя</label>
              </div>
            </div>
            <div class="checkout-box__row checkout-box__row--double">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="tel"
                  placeholder="+7 (999) 999-99-99"
                />
                <label class="checkout-box__label">+7 (999) 999-99-99</label>
              </div>
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Почта"
                />
                <label class="checkout-box__label">Почта</label>
              </div>
            </div>

            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Юридический адрес"
                />
                <label class="checkout-box__label">Юридический адрес</label>
              </div>
            </div>
            <div class="checkout-box__row">
              <div class="checkout-box__group checkout-box__group--required">
                <input
                  class="checkout-box__input"
                  type="text"
                  placeholder="Фактический адрес"
                />

                <label class="checkout-box__label">Фактический адрес</label>
              </div>
            </div>
          </div>
        </div>

        <div class="checkout-box checkout-box--address">
          <h3 class="checkout-box__title">Адрес доставки</h3>

          <div class="checkout-box__row">
            <div class="checkout-box__group checkout-box__group--required">
              <input
                class="checkout-box__input"
                type="text"
                placeholder="*Населеный пункт, улица, дом"
              />
              <label class="checkout-box__label">
                Населеный пункт, улица, дом
              </label>
            </div>
          </div>
          <div class="checkout-box__row checkout-box__row--double">
            <div class="checkout-box__group">
              <input
                class="checkout-box__input"
                type="text"
                placeholder="Квартира/офис/номер машино-места"
              />
              <label class="checkout-box__label">
                Квартира/офис/номер машино-места
              </label>
            </div>

            <a class="checkout-box__btn" href="#">Указать точку на карте</a>
          </div>
          <div class="checkout-box__row">
            <div class="checkout-box__group">
              <input
                class="checkout-box__input"
                type="text"
                placeholder="Комментарий к доставке"
              />
              <label class="checkout-box__label">
                Комментарий к доставке
              </label>
            </div>
          </div>
        </div>

        <div class="checkout-box checkout-box--payment">
          <h3 class="checkout-box__title">Оплата</h3>
          <ul class="checkout-box__list">
            <li class="checkout-box__item checkout-box__item--cash">
              <div class="checkout-box__box">
                <h4 class="checkout-box__heading">Наличными (в офисе)</h4>
              </div>
              <div class="checkout-box__bottom">
                <p>Экономия 0 ₽</p>
              </div>
            </li>
            <li class="checkout-box__item checkout-box__item--online">
              <div class="checkout-box__box">
                <h4 class="checkout-box__heading">Онлайн по QR</h4>
              </div>
              <div class="checkout-box__bottom">
                <p>
                  Экономия 9 500 ₽ <span>за оформление и оплату онлайн</span>
                </p>
              </div>
            </li>
            <li class="checkout-box__item checkout-box__item--office">
              <div class="checkout-box__box">
                <h4 class="checkout-box__heading">По терминалу (в офисе)</h4>
              </div>
              <div class="checkout-box__bottom">
                <p>Экономия 0 ₽</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="checkout__right">
        <div class="cart-right cart-right--discount">
          <h3 class="cart-right__title">Ваш заказ</h3>
          <ul class="cart-right__list">
            <li class="cart-right__item">
              <div class="cart-right__left">Товары <span>(1)</span></div>
              <div class="cart-right__right">25 510 ₽</div>
            </li>
            <li class="cart-right__item mt">
              <div class="cart-right__left">Доставка</div>
              <div class="cart-right__right">5 000 ₽</div>
            </li>
            <li class="cart-right__item">
              <div class="cart-right__left">Установка</div>
              <div class="cart-right__right">5 000 ₽</div>
            </li>
          </ul>
          <div class="cart-right__discount">
            <p class="cart-right__discount-text">
              Скидка за онлайн оформление и оплату
            </p>
            <p class="cart-right__discount-price">- 7 500 ₽</p>
          </div>

          <div class="cart-right__total">
            <p class="cart-right__total-text">Итого</p>
            <p>30 510 <span> ₽</span></p>
          </div>

          <button class="cart-right__btn" type="button">
            перейти к оплате
          </button>
          <div class="cart-right__notify">
            <p>
              Нажимая кнопку, я даю
              <span>согласие</span> на обработку персональных данных, в
              соответсвии с <span>Политикой</span> и соглашаюсь с
              <span>Правислами</span>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
