<section class="delivery">
  <div class="container container--1280">
    <h2 class="delivery__title">Доставка</h2>

    <ul class="delivery__list">
      <li class="delivery__item">
        <article
          class="delivery-card delivery-card--dilevered"
          style="background-image: url('images/content/delivery/1.jpg')"
        >
          <div class="delivery-card__wrap">
            <h3 class="delivery-card__title">Доставка по адресу</h3>
            <div class="delivery-card__text">
              <p>
                Доставка готового изделия сотрудниками и транспортом компании
                EUROGAR в согласованное заранее дату и время
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="delivery__item">
        <article
          class="delivery-card delivery-card--snipped"
          style="background-image: url('images/content/delivery/2.jpg')"
        >
          <div class="delivery-card__wrap">
            <h3 class="delivery-card__title">Доставка до ТК</h3>
            <div class="delivery-card__text">
              <p>
                Доставка готового изделия до терминала транспортной компании
                "ПЭК" или "ЖелДорЭкспедиции"
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="delivery__item">
        <article
          class="delivery-card delivery-card--pickup"
          style="background-image: url('images/content/delivery/3.jpg')"
        >
          <div class="delivery-card__wrap">
            <h3 class="delivery-card__title">Самовывоз</h3>
            <div class="delivery-card__text">
              <p>
                Самовывоз готового изделия из пункта выдачи (склада) в г.
                Иваново или в г. Москва
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
