<footer class="footer">
  <div class="container container--1280">
    <div class="footer__top">
      <div class="footer__col">
        <span class="footer__name">КАТАЛОГ</span>
        <div class="footer__lists">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Малыш</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Киндер</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Крутыш</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">S</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">M</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">XL</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">@XL</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Крутыш</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Толстяк</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">2 соседа</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col footer__col--company">
        <span class="footer__name">Компания</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Доставка и оплата</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <span class="footer__name">Металлбокс контракт</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="tel:+74951250598"
              >+7 (495) 125-05-98</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">corp@металлбокс.рф</a>
          </li>
        </ul>
      </div>
      <div class="footer__col footer__col--socials">
        <span class="footer__name">Следите за нами</span>
        <div class="footer__socials socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link socials__link--vk" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--instagram" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--facebook" href="#"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link--youtube" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__col footer__col--contact">
        <span class="footer__name">Связаться с нами</span>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Обратная связь</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Заказать обратный звонок</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">corp@металлбокс.рф</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">+7 (495) 125-05-98</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__logo logo" href="#">
        <img src="images/logo-light-gray.png" alt="Логотип" />
      </a>
      <div class="footer__copy">
        <p>© 1993—2022 ООО ПК «Металлбокс» «Металлбокс» — межкомнатные двери</p>
      </div>

      <div class="footer__bottom-right">
        <p>Не является публичной офертой</p>
        <a class="footer__link" href="#"> Карта сайта </a>
      </div>
    </div>
  </div>
</footer>
