<section class="hero">
  <button
    class="swiper-button-next"
    type="button"
    aria-label="Следующий"
  ></button>
  <button
    class="swiper-button-prev"
    type="button"
    aria-label="Предыдущий"
  ></button>
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/content/hero-slider/1.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h2 class="hero__title">
              Шкаф роллетный в паркинг, квартиру
              <span> или загородный дом</span>
            </h2>

            <a class="hero__link" href="#">подробнее</a>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1648737966661-22e0c69d5aa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80');
        "
      >
        <div class="container">
          <div class="hero__offer">
            <h2 class="hero__title">
              Шкаф роллетный в парикнг, квартиру
              <span> или загородный дом</span>
            </h2>

            <a class="hero__link" href="#">подробнее</a>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="
          background-image: url('https://images.unsplash.com/photo-1652589484414-75eba43ba3a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=845&q=80');
        "
      >
        <div class="container">
          <div class="hero__offer">
            <h2 class="hero__title">
              Шкаф роллетный в парикнг, квартиру
              <span> или загородный дом</span>
            </h2>

            <a class="hero__link" href="#">подробнее</a>
          </div>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
