<section
  class="terms"
  style="background-image: url('images/content/individual.jpg')"
>
  <div class="container">
    <div class="terms__wrapper">
      <div class="terms__offer">
        <h2 class="terms__title">ИНДИВИДУАЛЬНЫЕ КОНСТРУКЦИИ</h2>
        <div class="terms__text">
          <p>
            Изготавливаем изделия по любым размерам и конструкцтивным
            требованиям на заказ
          </p>
        </div>
        <button class="terms__btn btn btn--white">ОФОРМИТЬ ЗАЯВКУ</button>
      </div>
    </div>
  </div>
</section>
