<section
  class="offices"
  style="background-image: url('images/content/offices.jpg')"
>
  <div class="container">
    <div class="offices__wrapper">
      <div class="offices__offer">
        <h2 class="offices__title">НАШИ ОФИСЫ И ОФИЦИАЛЬНЫЕ ДИЛЛЕРЫ</h2>
        <div class="offices__text">
          <p>Предлагаем особые условия для бизнеса и крупных заказчиков.</p>
          <p>Приглашаем к сотрудничеству.</p>
        </div>
        <button class="offices__btn btn btn--white">
          Рассчитать стоимость
        </button>
      </div>
    </div>
  </div>
</section>
