<section class="payment">
  <div class="container container--1280">
    <h2 class="payment__title">Доставка</h2>

    <ul class="payment__list">
      <li class="payment__item">
        <article
          class="payment-card payment-card--terminal"
          style="background-image: url('images/content/payment-2/1.jpg')"
        >
          <div class="payment-card__wrap">
            <h3 class="payment-card__title">Терминал</h3>
            <div class="payment-card__text">
              <p>
                Оплата банковской картой через терминал. Такой способ оплаты
                возможен только в офисе компании.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="payment__item">
        <article
          class="payment-card payment-card--money"
          style="background-image: url('images/content/payment-2/2.jpg')"
        >
          <div class="payment-card__wrap">
            <h3 class="payment-card__title">Наличная</h3>
            <div class="payment-card__text">
              <p>
                Оплата за констуркцию наличными денежными средствами в офисе
                компании.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="payment__item">
        <article
          class="payment-card payment-card--qr"
          style="background-image: url('images/content/payment-2/3.jpg')"
        >
          <div class="payment-card__wrap">
            <h3 class="payment-card__title">Безналичная</h3>
            <div class="payment-card__text">
              <p>
                Способ оплата через СБП в приложении любого банка на расчетный
                счет компании для физических лиц и по реквизитам компании для
                юридических лиц. Компания находится на ОСНО.
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
