<section class="product">
  <div class="container container--1280">
    <div class="product__wrapper">
      <div class="product__content">
        <div class="product__preview">
          <div class="product__slider swiper">
            <ul class="product__slides swiper-wrapper">
              <li class="product__slide swiper-slide">
                <div class="product__img">
                  <img src="images/content/product/1.png" alt="Слайд " />
                </div>
              </li>
              <li class="product__slide swiper-slide">
                <div class="product__img">
                  <img src="images/content/product/1.png" alt="Слайд " />
                </div>
              </li>
              <li class="product__slide swiper-slide">
                <div class="product__img">
                  <img src="images/content/product/1.png" alt="Слайд " />
                </div>
              </li>
            </ul>
          </div>

          <button
            class="swiper-button-next"
            type="button"
            aria-label="Следующий"
          ></button>
          <button
            class="swiper-button-prev"
            type="button"
            aria-label="Предыдущий"
          ></button>
        </div>

        <div class="product__info" data-simplebar>
          <h2 class="product__title">Киндер</h2>

          <div class="product__sizes">
            <p>Ширина 2200 мм</p>
            <p>Высота 2500 мм</p>
            <p>Глубина 600 мм</p>
          </div>

          <div class="product__colors colors">
            <ul class="colors__list">
              <li
                class="colors__item colors__item--active product__item--white"
              ></li>
              <li class="colors__item colors__item--brown"></li>
              <li class="colors__item colors__item--silver"></li>
              <li class="colors__item colors__item--beige"></li>
              <li class="colors__item colors__item--metallic-silver"></li>
            </ul>
            <p class="colors__text">Белый</p>
          </div>

          <div class="product__tabs tabs">
            <div class="tabs__top">
              <button class="tabs__top-btn tabs__top-btn--active" type="button">
                Комплектация
              </button>
              <button class="tabs__top-btn" type="button">
                Изменить размеры
              </button>
            </div>

            <div class="tabs__content active">
              <div class="tabs__box">
                <ul class="tabs__list">
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"
                          >Внутренние наполнение</span
                        >
                      </label>
                    </div>

                    <div class="submenu">
                      <ul class="submenu__list">
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Внутренние наполнение
                            </span>
                          </label>
                          <p class="submenu__price">6 000 ₽</p>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Переставные полки
                            </span>
                          </label>
                          <div class="submenu__price">6 000 ₽</div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Внешние элементы</span>
                      </label>
                    </div>

                    <div class="submenu">
                      <ul class="submenu__list">
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Роллетная система
                            </span>
                          </label>
                          <p class="submenu__price">7 000 ₽</p>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Задняя стенка </span>
                          </label>
                          <div class="submenu__price">9 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Правая стенка </span>
                          </label>
                          <div class="submenu__price">9 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Левая стенка </span>
                          </label>
                          <div class="submenu__price">10 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Крыша </span>
                          </label>
                          <div class="submenu__price">5 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Дно </span>
                          </label>
                          <div class="submenu__price">5 000 ₽</div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"
                          >Внутренние наполнение</span
                        >
                      </label>

                      <div class="tabs__price">5 000 ₽</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tabs__cart">
                <div class="">В корзину</div>
                <div class="tabs__total">Итого:<span> 62 190 ₽</span></div>
              </div>

              <button class="tabs__btn" type="button">
                <span class="tabs__btn-text">
                  при оформлении <br />
                  и оплате онлайн
                </span>
                <span class="tabs__btn-total">57 690 ₽</span>
              </button>

              <div class="tabs__notify">
                <p>
                  *при оформлении онлайн без обращения к менеджеру и за замером,
                  скидки: 10% - на изделие; 12% - на доставку и установку; 15% -
                  на дополнительные товары
                </p>
              </div>
            </div>
            <div class="tabs__content">
              <div class="tabs__box">
                <ul class="tabs__list">
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"
                          >Внутренние наполнение</span
                        >
                      </label>
                    </div>

                    <div class="submenu">
                      <ul class="submenu__list">
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Внутренние наполнение
                            </span>
                          </label>
                          <p class="submenu__price">6 000 ₽</p>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Переставные полки
                            </span>
                          </label>
                          <div class="submenu__price">6 000 ₽</div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text">Внешние элементы</span>
                      </label>
                    </div>

                    <div class="submenu">
                      <ul class="submenu__list">
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text">
                              Роллетная система
                            </span>
                          </label>
                          <p class="submenu__price">7 000 ₽</p>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Задняя стенка </span>
                          </label>
                          <div class="submenu__price">9 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Правая стенка </span>
                          </label>
                          <div class="submenu__price">9 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Левая стенка </span>
                          </label>
                          <div class="submenu__price">10 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Крыша </span>
                          </label>
                          <div class="submenu__price">5 000 ₽</div>
                        </li>
                        <li class="submenu__item">
                          <label class="checkbox">
                            <input
                              class="checkbox__input"
                              type="checkbox"
                              required
                            />
                            <span class="checkbox__box"></span>
                            <span class="checkbox__text"> Дно </span>
                          </label>
                          <div class="submenu__price">5 000 ₽</div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="tabs__item">
                    <div class="">
                      <label class="checkbox">
                        <input
                          class="checkbox__input"
                          type="checkbox"
                          required
                        />
                        <span class="checkbox__box"></span>
                        <span class="checkbox__text"
                          >Внутренние наполнение</span
                        >
                      </label>

                      <div class="tabs__price">5 000 ₽</div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tabs__cart">
                <div class="">В корзину</div>
                <div class="tabs__total">Итого:<span> 62 190 ₽</span></div>
              </div>

              <button class="tabs__btn" type="button">
                <span class="tabs__btn-text">
                  при оформлении <br />
                  и оплате онлайн
                </span>
                <span class="tabs__btn-total">57 690 ₽</span>
              </button>

              <div class="tabs__notify">
                <p>
                  *при оформлении онлайн без обращения к менеджеру и за замером,
                  скидки: 10% - на изделие; 12% - на доставку и установку; 15% -
                  на дополнительные товары
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product__spec-btn">
    <span class="icon"></span>
    <p>Технические характеристики</p>
  </div>
</section>
