<section class="production">
  <div class="container">
    <h2 class="visually-hidden">Продукция</h2>

    <ul class="production__list">
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
      <li class="production__item">
        <article
          class="production-card"
          style="background-image: url('images/content/production/1.jpg')"
        >
          <a class="card-link" href="#"></a>
          <h3 class="production-card__title">
            Автоматическая система пожаротушения
          </h3>
        </article>
      </li>
    </ul>
  </div>
</section>
