<section
  class="standart"
  style="background-image: url('images/content/standart.jpg')"
>
  <div class="container">
    <div class="standart__wrapper">
      <div class="standart__offer">
        <h2 class="standart__title">КАТАЛОГ ТИПОВЫХ КОНСТРУКЦИЙ</h2>
        <div class="standart__text">
          <p>
            10 типовых констуркций по уникальным ценам с полками до 2,5 метров.
          </p>
        </div>
        <button class="standart__btn btn btn--white">Перейти в каталог</button>
      </div>
    </div>
  </div>
</section>
