<section
  class="terms"
  style="background-image: url('images/content/terms.jpg')"
>
  <div class="container">
    <div class="terms__wrapper">
      <div class="terms__offer">
        <h2 class="terms__title">СРОКИ ИЗГОТВОЛЕНИЯ ОТ 1-ГО ДНЯ</h2>
        <div class="terms__text">
          <p>
            Минимальный срок изготовления 1 день при наличии материалов и
            самовывозе с производства (Иваново). Доставка и установка
            согласовываются отдельно.
          </p>
        </div>
        <a class="terms__btn btn btn--white" href="#">Перейти в каталог</a>
      </div>
    </div>
  </div>
</section>
