<div class="tagline">
  <div class="container">
    <div class="tagline__text">
      <p>
        Никаких лишнийх дейтсвий, звонков и общения <span></span>
        с менеджерами и замерщиками.
      </p>
      <p>
        Выбирите констуркцию из наших типовых решений, либо рассчитайте изделие
        по своим размерам, оплатите стоимость через форму на сайте, а мы
        предоставми скидку в 10% на констукрцию с установкой, или 15%
        <span></span>
        на констуркцию без установки самовывозом.
      </p>
      <p>
        Завершить образ помогут аксессуары, на которые мы предсотавим -15%
        <span></span>
        при одновременном заказе с изделием.
      </p>
    </div>
  </div>
</div>
